/**
 * @package 	WordPress
 * @subpackage 	Garage
 * @version		1.2.3
 * 
 * Responsive Design CSS Rules
 * Created by CMSMasters
 * 
 */


/*-------------------------------------------------------------------------

	1.	Large Monitor
	2.	Tablet Monitor
	3.	Small Tablet Monitor
	4.	Phone Monitor
	5.	Small Phone Monitor

-------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------*/
/*	1.	Large Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (min-width: 1440px) {
  #page.cmsms_boxed {
    width: 1240px;
  }
  #page.cmsms_boxed #header,
  #page.cmsms_boxed #footer {
    width: 1240px;
  }
  .post-password-form,
  .header_top_inner,
  .header_mid_inner,
  .header_bot_inner,
  .content_wrap,
  .headline_inner,
  .cmsms_breadcrumbs_inner,
  .bottom_outer,
  .footer_inner,
  .cmsms_row_inner,
  .cmsms_row_title_wrap {
    width: 1200px;
  }
  .content_wrap.l_sidebar:before {
    margin-left: 8px;
  }
  .content {
    padding-right: 30px;
  }
  .content.fr {
    padding-left: 30px;
  }
  .sidebar {
    padding-left: 30px;
  }
  .sidebar .widget_nav_menu .menu {
    margin-left: -29px;
  }
  .sidebar.fl {
    padding-right: 30px;
  }
  .sidebar.fl .widget_nav_menu .menu {
    margin-right: -29px;
    margin-left: 0;
  }
  .header_top_outer,
  .header_top .nav_wrap nav {
    display: block !important;
  }
}
/*-------------------------------------------------------------------------*/
/*	2.	Tablet Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  html .one_fourth,
  html .three_fourth {
    width: 46%;
  }
  html .cmsms_121414 .one_half,
  html .cmsms_141412 .one_half {
    width: 96%;
    float: none;
    clear: both;
  }
  html .cmsms_141214 .one_fourth,
  html .cmsms_141214 .one_half {
    width: 29.33%;
  }
  html .sidebar_layout_14141414 aside {
    width: 46%;
  }
  html .sidebar_layout_141412 > aside:first-child,
  html .sidebar_layout_141412 > aside:first-child + aside,
  html .sidebar_layout_141412 > div.cl + aside,
  html .sidebar_layout_141412 > div.cl + aside + aside,
  html .sidebar_layout_141412 > div.cmsms_widget_divider + aside,
  html .sidebar_layout_141412 > div.cmsms_widget_divider + aside + aside {
    width: 46%;
  }
  html .sidebar_layout_141412 > aside:first-child + aside + aside,
  html .sidebar_layout_141412 > div.cl + aside + aside + aside,
  html .sidebar_layout_141412 > div.cmsms_widget_divider + aside + aside + aside {
    width: 96%;
    float: none;
    clear: both;
  }
  html .sidebar_layout_141214 > aside:first-child,
  html .sidebar_layout_141214 > aside:first-child + aside + aside,
  html .sidebar_layout_141214 > div.cl + aside,
  html .sidebar_layout_141214 > div.cl + aside + aside + aside,
  html .sidebar_layout_141214 > div.cmsms_widget_divider + aside,
  html .sidebar_layout_141214 > div.cmsms_widget_divider + aside + aside + aside {
    width: 29.33%;
  }
  html .sidebar_layout_141214 > aside:first-child + aside,
  html .sidebar_layout_141214 > div.cl + aside + aside,
  html .sidebar_layout_141214 > div.cmsms_widget_divider + aside + aside {
    width: 29.33%;
  }
  html .sidebar_layout_121414 > aside:first-child,
  html .sidebar_layout_121414 > div.cl + aside,
  html .sidebar_layout_121414 > div.cmsms_widget_divider + aside {
    width: 96%;
    float: none;
    clear: both;
  }
  html .sidebar_layout_121414 > aside:first-child + aside,
  html .sidebar_layout_121414 > aside:first-child + aside + aside,
  html .sidebar_layout_121414 > div.cl + aside + aside,
  html .sidebar_layout_121414 > div.cl + aside + aside + aside,
  html .sidebar_layout_121414 > div.cmsms_widget_divider + aside + aside,
  html .sidebar_layout_121414 > div.cmsms_widget_divider + aside + aside + aside {
    width: 46%;
  }
  html .sidebar_layout_3414 > aside:first-child,
  html .sidebar_layout_3414 > div.cl + aside,
  html .sidebar_layout_3414 > div.cmsms_widget_divider + aside {
    width: 46%;
  }
  html .sidebar_layout_3414 > aside:first-child + aside,
  html .sidebar_layout_3414 > div.cl + aside + aside,
  html .sidebar_layout_3414 > div.cmsms_widget_divider + aside + aside {
    width: 46%;
  }
  html .sidebar_layout_1434 > aside:first-child,
  html .sidebar_layout_1434 > div.cl + aside,
  html .sidebar_layout_1434 > div.cmsms_widget_divider + aside {
    width: 46%;
  }
  html .sidebar_layout_1434 > aside:first-child + aside,
  html .sidebar_layout_1434 > div.cl + aside + aside,
  html .sidebar_layout_1434 > div.cmsms_widget_divider + aside + aside {
    width: 46%;
  }
  html .post-password-form,
  html .header_top_inner,
  html .header_mid_inner,
  html .header_bot_inner,
  html .content_wrap,
  html .headline_inner,
  html .cmsms_breadcrumbs_inner,
  html .bottom_outer,
  html .footer_inner,
  html .cmsms_row_inner,
  html .cmsms_row_title_wrap {
    width: 100%;
  }
  html .cmsms_column {
    margin-bottom: 20px;
  }
  html .cmsms_column:after {
    content: '';
    display: block;
    clear: both;
  }
  html .cmsms_column.one_first,
  html .cmsms_column:last-child {
    margin-bottom: 0;
  }
  html #page.cmsms_boxed {
    width: 100%;
  }
  html #page.cmsms_boxed #header,
  html #page.cmsms_boxed #footer {
    width: 100%;
  }
  html #page .cmsms_stats.stats_mode_circles .cmsms_stat_outer.one_fourth {
    width: 46%;
  }
  html #page .cmsms_stats.stats_mode_circles .cmsms_stat_outer.one_fifth {
    width: 29.33%;
  }
  html #page .cmsms_stats.stats_mode_circles .cmsms_stat_outer.one_fifth:nth-child(3n+1) {
    clear: both;
  }
  html #page .cmsms_stats.stats_mode_circles .cmsms_stat_outer.one_fifth:nth-child(5n+1) {
    clear: none;
  }
  html #page .cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_outer.one_fourth:nth-child(2n+1) {
    clear: both;
  }
  html #page .cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_outer.one_fifth {
    width: 29.33%;
  }
  html #page .cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_outer.one_fifth:nth-child(3n+1) {
    clear: both;
  }
  html #page .cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_outer.one_fifth:nth-child(5n+1) {
    clear: none;
  }
  html #page .cmsms_counters .cmsms_counter_wrap.one_fourth {
    width: 50%;
  }
  html #page .cmsms_counters .cmsms_counter_wrap.one_fifth {
    width: 33.33%;
  }
  html #page .cmsms_counters .cmsms_counter_wrap.one_fifth:nth-child(3n+1) {
    clear: both;
  }
  html #page .cmsms_counters .cmsms_counter_wrap.one_fifth:nth-child(5n+1) {
    clear: none;
  }
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item {
    width: 46%;
    display: block;
    float: left;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  html #page .quote_grid.quote_four:before {
    left: 50%;
  }
  html #page .quote_grid.quote_four:after {
    content: none;
  }
  html #page .quote_grid.quote_four .quote_vert {
    border-left-width: 0;
  }
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote {
    width: 50%;
    border-top-width: 2px;
    border-top-style: solid;
  }
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote:nth-child(1),
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote:nth-child(2) {
    border-top-width: 0;
  }
  html #page.fixed_header #header {
    position: relative;
  }
  html #page.fixed_header #middle,
  html #page.fixed_header.enable_header_top #middle,
  html #page.fixed_header.enable_header_bottom #middle,
  html #page.fixed_header.enable_header_top.enable_header_bottom #middle {
    padding-top: 0;
  }
  html #page #header {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  html #page #header .header_bot_outer,
  html #page #header .header_mid_outer {
    border-bottom-width: 0;
    border-bottom-style: solid;
  }
  html #page #header #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li.menu-item-hide-text > a:empty {
    display: none;
  }
  html #page #header #navigation > li > a[data-tag]:before {
    display: inline-block;
    float: none;
  }
  html #page #header #navigation > li > a[data-tag] > span {
    width: auto;
    float: left;
  }
  html #page #header nav .menu-mega-menu-container,
  html #page #header nav .cmsms_dynamic_cart {
    display: block !important;
    opacity: 1;
  }
  html #page #header nav .cmsms_dynamic_cart {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  html #page #header nav .cmsms_dynamic_cart:hover .widget_shopping_cart_content {
    height: auto;
    padding: 20px 20px 25px;
  }
  html #page #header nav .cmsms_dynamic_cart .cmsms_dynamic_cart_button {
    margin-top: -1px;
    padding: 13px 30px;
    position: relative;
  }
  html #page #header nav .cmsms_dynamic_cart .cmsms_dynamic_cart_button:before {
    position: relative;
  }
  html #page #header nav .cmsms_dynamic_cart .widget_shopping_cart_content {
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    position: relative;
    border-top-width: 0;
    border-top-style: solid;
  }
  html #page #header nav .cmsms_dynamic_cart .widget_shopping_cart_content:before {
    content: none;
  }
  html #page #header nav .cmsms_dynamic_cart .widget_shopping_cart_content .buttons > a.button {
    width: auto;
    margin: 0 10px 0 0;
    padding: 5px 35px;
  }
  html #page #header nav .cmsms_dynamic_cart .widget_shopping_cart_content .buttons > a.button:last-child {
    margin-right: 0;
  }
  html #page #header nav .cmsms_dynamic_cart .widget_shopping_cart_content .buttons > a.button:after {
    padding-left: 10px;
  }
  html #page #header .header_top {
    overflow: hidden;
  }
  html #page #header .header_top .header_top_outer {
    display: none;
    overflow: hidden;
  }
  html #page #header .header_top .header_top_outer .header_top_inner {
    overflow: hidden;
    padding: 0;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_left,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right {
    float: none;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    clear: both;
    overflow: hidden;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_left .header_top_aligner,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .header_top_aligner {
    display: none;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_left {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_left .meta_wrap {
    margin: 0;
    text-align: center;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_left .meta_wrap > * {
    float: none;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right {
    padding-top: 20px;
    padding-bottom: 15px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .social_wrap {
    padding-bottom: 5px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap {
    display: block;
    text-align: center;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap .responsive_top_nav {
    font-size: 10px;
    display: inline-block;
    width: 28px;
    height: 28px;
    position: relative;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap .responsive_top_nav:before {
    width: 1em;
    height: 1em;
    margin: auto !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav {
    float: none;
    visibility: visible;
    text-indent: 0;
    margin: 0;
    opacity: 1;
    display: none;
    clear: both;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav div,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav ul,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav li,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav a,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav span {
    display: block;
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
    visibility: visible;
    position: relative;
    left: 0;
    top: 0;
    border-width: 0;
    border-style: solid;
    overflow: hidden;
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav div:before,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav ul:before,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav li:before,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav a:before,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav span:before,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav div:after,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav ul:after,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav li:after,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav a:after,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav span:after {
    content: none;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav a {
    background-color: transparent;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav {
    padding-top: 15px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav > li:first-child > a {
    border-top-width: 0;
    border-top-style: solid;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li a {
    padding: 10px 20px;
    border-top-width: 1px;
    border-top-style: solid;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li li a {
    padding-left: 40px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li li li a {
    padding-left: 60px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li li li li a {
    padding-left: 80px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li li li li li a {
    padding-left: 100px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li li li li li li a {
    padding-left: 120px;
  }
  html #page #header .header_top .header_top_but {
    display: block;
    width: 100%;
    height: 35px;
    position: relative;
    cursor: pointer;
  }
  html #page #header .header_mid {
    float: none;
    clear: both;
    overflow: hidden;
  }
  html #page #header .header_mid .header_mid_outer {
    overflow: hidden;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap {
    margin-right: 30px;
    margin-left: 0;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap {
    display: block;
    margin-left: 30px;
    float: left;
  }
  html #page #header .header_bot {
    float: none;
    clear: both;
    overflow: hidden;
  }
  html #page #header .header_bot .header_bot_outer {
    overflow: hidden;
  }
  html #page #header .header_bot .header_bot_outer .header_bot_inner {
    padding-left: 0;
    padding-right: 0;
  }
  html #page #header .header_bot .header_bot_outer .header_bot_inner .resp_nav_wrap {
    margin: 0;
    padding: 20px 0 15px;
    text-align: center;
  }
  html #page #header .header_bot .header_bot_outer .header_bot_inner .resp_nav_wrap .resp_nav_wrap_inner {
    display: inline-block;
  }
  html #page #header .resp_nav_wrap {
    display: block;
    margin: 0 30px 0 0;
    text-indent: 0;
    opacity: 1;
    -webkit-transition: margin .3s ease-in-out, opacity .3s ease-in-out;
    -moz-transition: margin .3s ease-in-out, opacity .3s ease-in-out;
    -ms-transition: margin .3s ease-in-out, opacity .3s ease-in-out;
    -o-transition: margin .3s ease-in-out, opacity .3s ease-in-out;
    transition: margin .3s ease-in-out, opacity .3s ease-in-out;
  }
  html #page #header .resp_nav_wrap.resp_nav_closed {
    opacity: 0;
    margin: 0 -30px 0 0;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  html #page #header .header_mid nav,
  html #page #header .header_bot nav {
    float: none;
    visibility: visible;
    text-indent: 0;
    margin: 0;
    opacity: 1;
    display: none;
    clear: both;
  }
  html #page #header .header_mid nav > div:first-child,
  html #page #header .header_bot nav > div:first-child {
    display: block;
  }
  html #page #header .header_mid nav > div:first-child div,
  html #page #header .header_bot nav > div:first-child div,
  html #page #header .header_mid nav > div:first-child ul,
  html #page #header .header_bot nav > div:first-child ul,
  html #page #header .header_mid nav > div:first-child a,
  html #page #header .header_bot nav > div:first-child a {
    background-image: none !important;
    display: block;
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
    visibility: visible;
    position: relative;
    left: 0;
    top: 0;
    border-width: 0;
    border-style: solid;
    overflow: hidden;
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  html #page #header .header_mid nav > div:first-child div:before,
  html #page #header .header_bot nav > div:first-child div:before,
  html #page #header .header_mid nav > div:first-child ul:before,
  html #page #header .header_bot nav > div:first-child ul:before,
  html #page #header .header_mid nav > div:first-child a:before,
  html #page #header .header_bot nav > div:first-child a:before,
  html #page #header .header_mid nav > div:first-child div:after,
  html #page #header .header_bot nav > div:first-child div:after,
  html #page #header .header_mid nav > div:first-child ul:after,
  html #page #header .header_bot nav > div:first-child ul:after,
  html #page #header .header_mid nav > div:first-child a:after,
  html #page #header .header_bot nav > div:first-child a:after {
    content: none;
  }
  html #page #header .header_mid nav > div:first-child span,
  html #page #header .header_bot nav > div:first-child span {
    background-image: none !important;
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
    visibility: visible;
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  html #page #header .header_mid nav > div:first-child span:before,
  html #page #header .header_bot nav > div:first-child span:before,
  html #page #header .header_mid nav > div:first-child span:after,
  html #page #header .header_bot nav > div:first-child span:after {
    content: none;
  }
  html #page #header .header_mid nav > div:first-child a,
  html #page #header .header_bot nav > div:first-child a {
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
  }
  html #page #header .header_mid nav > div:first-child li,
  html #page #header .header_bot nav > div:first-child li {
    display: block;
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
    visibility: visible;
    position: relative;
    left: 0;
    top: 0;
    border-width: 0 !important;
    border-style: solid !important;
    overflow: hidden;
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  html #page #header .header_mid nav .menu-item-mega-description-container,
  html #page #header .header_bot nav .menu-item-mega-description-container {
    display: none;
  }
  html #page #header .header_mid nav .nav_bg_clr,
  html #page #header .header_bot nav .nav_bg_clr {
    display: none;
    opacity: 0;
  }
  html #page #header .header_mid nav #navigation > li:first-child,
  html #page #header .header_bot nav #navigation > li:first-child {
    margin-top: 0;
  }
  html #page #header .header_mid nav #navigation li,
  html #page #header .header_bot nav #navigation li {
    margin-top: -1px;
  }
  html #page #header .header_mid nav #navigation li a,
  html #page #header .header_bot nav #navigation li a {
    border-width: 1px;
    border-style: solid;
  }
  html #page #header .header_mid nav #navigation li a,
  html #page #header .header_bot nav #navigation li a {
    padding: 13px 20px;
  }
  html #page #header .header_mid nav #navigation li li a,
  html #page #header .header_bot nav #navigation li li a {
    padding-left: 40px;
  }
  html #page #header .header_mid nav #navigation li li li a,
  html #page #header .header_bot nav #navigation li li li a {
    padding-left: 60px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  html #page #header .header_mid nav #navigation li li li li a,
  html #page #header .header_bot nav #navigation li li li li a {
    padding-left: 80px;
  }
  html #page #header .header_mid nav #navigation li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li a {
    padding-left: 100px;
  }
  html #page #header .header_mid nav #navigation li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li a {
    padding-left: 120px;
  }
  html #page #header .header_mid nav #navigation li li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li li a {
    padding-left: 140px;
  }
  html #page #header .header_mid nav #navigation li li li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li li li a {
    padding-left: 160px;
  }
  html #page #header .header_mid nav #navigation li li li li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li li li li a {
    padding-left: 180px;
  }
  html #page #header .header_mid nav #navigation li li li li li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li li li li li a {
    padding-left: 200px;
  }
  html #page #header .header_mid nav #navigation li li li li li li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li li li li li li a {
    padding-left: 220px;
  }
  html #page #header .header_mid nav #navigation li li li li li li li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li li li li li li li a {
    padding-left: 240px;
  }
  html #page.enable_header_centered #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap {
    display: inline-block;
    float: none;
    margin-left: 0;
  }
  #header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li:first-child {
    border: 0;
  }
  #navigation > li.menu-item-hide-text > a > span:before {
    margin-right: 0.4em;
  }
  #navigation > li.menu-item-mega > div.menu-item-mega-container ul li.menu-item-hide-text > a > span:before {
    margin-right: 0.4em;
  }
}
/*-------------------------------------------------------------------------*/
/*	Tablet Monitor 950
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 950px) {
  html .header_mid_inner .search_wrap.search_opened {
    width: 90%;
    margin: 0 5% !important;
  }
  html .header_mid_inner .search_wrap.search_opened .search_wrap_inner .search_wrap_inner_left {
    width: 95%;
  }
  html .header_mid_inner .search_wrap.search_opened .search_wrap_inner .search_wrap_inner_right {
    width: 5%;
  }
  html .content_wrap:before {
    cotnent: none;
    display: none;
  }
  html .content_wrap .content,
  html .content_wrap .sidebar {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  html .content_wrap .sidebar {
    padding-top: 50px;
  }
  html .content_wrap .sidebar .widget_nav_menu .menu {
    margin-left: 0;
  }
  html .content_wrap .sidebar:before {
    content: '';
    width: 100%;
    height: 1px;
    margin: auto !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
  }
  html .content_wrap .sidebar.fl .widget_nav_menu .menu {
    margin-right: 0;
  }
  html .content_wrap.l_sidebar .cmsms_row,
  html .content_wrap.r_sidebar .cmsms_row {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  html #page .portfolio.opened-article .project .project_content.with_sidebar {
    width: 100%;
    float: none;
    clear: both;
    padding-right: 0;
    padding-bottom: 35px;
  }
  html #page .portfolio.opened-article .project .project_sidebar {
    width: 100%;
    float: none;
    clear: both;
    padding-bottom: 50px;
  }
  html #page .profiles.opened-article .profile .profile_content.with_sidebar {
    width: 100%;
    float: none;
    clear: both;
    padding-right: 0;
    padding-bottom: 50px;
  }
  html #page .profiles.opened-article .profile .profile_sidebar {
    width: 100%;
    float: none;
    clear: both;
  }
}
/*-------------------------------------------------------------------------*/
/*	3.	Small Tablet Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  html .one_first,
  html .one_half,
  html .one_third,
  html .two_third,
  html .one_fourth,
  html .three_fourth,
  html .cmsms_121414 .one_half,
  html .cmsms_141412 .one_half,
  html .cmsms_141214 .one_fourth,
  html .cmsms_141214 .one_half {
    width: 96%;
    float: none;
    clear: both;
  }
  html .sidebar_layout_14141414 aside,
  html .sidebar_layout_141412 aside,
  html .sidebar_layout_141214 aside,
  html .sidebar_layout_121414 aside,
  html .sidebar_layout_131313 aside,
  html .sidebar_layout_3414 aside,
  html .sidebar_layout_1434 aside,
  html .sidebar_layout_2313 aside,
  html .sidebar_layout_1323 aside,
  html .sidebar_layout_1212 aside {
    width: 96% !important;
  }
  html #page .blog.timeline {
    height: auto !important;
  }
  html #page .blog.timeline:before {
    content: none;
  }
  html #page .blog.timeline .post.format-standard figure,
  html #page .blog.timeline .post.format-image figure,
  html #page .blog.timeline .cmsms_owl_slider,
  html #page .blog.timeline .cmsms_video_wrap,
  html #page .blog.timeline .cmsms_post_cont {
    margin: 0 1px -1px;
  }
  html #page .blog.timeline .post.cmsms_timeline_type {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 70px;
    position: relative !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
  }
  html #page .blog.timeline .post.cmsms_timeline_type:first-child {
    padding-top: 0;
  }
  html #page .blog.timeline .post.cmsms_timeline_type:before {
    content: none;
  }
  html #page .blog.timeline .post.cmsms_timeline_type .cmsms_post_info {
    background: none;
    width: 100%;
    height: auto;
    margin: 0 auto !important;
    padding: 0 0 10px 0;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  html #page .blog.timeline .post.cmsms_timeline_type .cmsms_post_info:before {
    content: none;
  }
  html #page .blog.timeline .post.cmsms_timeline_type .cmsms_post_info .cmsms_post_format_img {
    display: inline-block;
  }
  html #page .blog.timeline .post.cmsms_timeline_type .cmsms_post_info .cmsms_post_date {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  html #page .blog.timeline .post.cmsms_timeline_type .cmsms_post_info .cmsms_post_date > span {
    margin: 0 5px 0 0;
    float: left;
  }
  html #page .blog.timeline .post.cmsms_timeline_type .cmsms_post_cont_wrap {
    padding-left: 0;
    padding-right: 0;
  }
  html #page .blog.timeline .post.cmsms_timeline_type .cmsms_post_cont_wrap:before {
    content: none;
  }
  html #page .post.cmsms_default_type {
    padding-right: 0;
  }
  html #page .post.cmsms_default_type .cmsms_post_info {
    float: none;
    margin: 0 0 20px;
  }
  html #page .post.cmsms_default_type .cmsms_post_info .cmsms_post_format_img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
  html #page .post.cmsms_default_type .cmsms_post_info .cmsms_post_date {
    display: inline-block;
    padding-top: 0;
    padding-right: 0;
    vertical-align: middle;
    text-align: left;
  }
  html #page .opened-article .post .cmsms_post_footer {
    text-align: center;
  }
  html #page .opened-article .post .cmsms_post_footer .cmsms_post_meta_info {
    display: block;
    float: none;
    width: 100%;
    margin: 0;
    border-right-width: 0;
    border-right-style: solid;
  }
  html #page .opened-article .post .cmsms_post_footer .cmsms_post_meta_info > a,
  html #page .opened-article .post .cmsms_post_footer .cmsms_post_meta_info .cmsms_post_date {
    text-align: center;
    width: 33.33%;
    padding: 15px 20px;
  }
  html #page .opened-article .post .cmsms_post_footer .cmsms_post_cont_info {
    display: block;
    width: 100%;
    padding: 0;
    text-align: center;
    border-top-width: 1px;
    border-top-style: solid;
  }
  html #page .opened-article .post.format-aside .cmsms_post_cont .cmsms_post_content,
  html #page .opened-article .post.format-status .cmsms_post_cont .cmsms_post_content {
    padding-top: 10px;
  }
  html #page .post_comments .commentlist .comment-body .comment-content > h2 {
    clear: both;
    margin-top: 0;
    padding-top: 10px;
  }
  html #page .blog .project.type-project .cmsms_post_info,
  html #page .blog .profile.type-profile .cmsms_post_info {
    float: left;
    margin: 0;
  }
  html #page .cmsms_search .cmsms_search_post {
    padding-right: 0;
  }
  html #page .cmsms_search .cmsms_search_post .cmsms_search_post_number {
    float: none;
    clear: both;
  }
  html #page .cmsms_featured_block .featured_block_inner {
    width: 100% !important;
  }
  html #page .cmsms_stats.stats_mode_circles .cmsms_stat_outer.one_half,
  html #page .cmsms_stats.stats_mode_circles .cmsms_stat_outer.one_third,
  html #page .cmsms_stats.stats_mode_circles .cmsms_stat_outer.one_fourth,
  html #page .cmsms_stats.stats_mode_circles .cmsms_stat_outer.one_fifth {
    float: left;
    width: 46%;
    clear: none !important;
  }
  html #page .cmsms_stats.stats_mode_circles .cmsms_stat_outer:nth-child(2n+1) {
    clear: both !important;
  }
  html #page .cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_outer.one_half,
  html #page .cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_outer.one_third,
  html #page .cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_outer.one_fourth,
  html #page .cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_outer.one_fifth {
    float: left;
    width: 46%;
    clear: none !important;
  }
  html #page .cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_outer:nth-child(2n+1) {
    clear: both !important;
  }
  html #page .cmsms_counters .cmsms_counter_wrap.one_half,
  html #page .cmsms_counters .cmsms_counter_wrap.one_third,
  html #page .cmsms_counters .cmsms_counter_wrap.one_fourth,
  html #page .cmsms_counters .cmsms_counter_wrap.one_fifth {
    width: 50%;
    clear: none !important;
  }
  html #page .cmsms_profile.vertical:before {
    left: 20%;
  }
  html #page .cmsms_profile.vertical .type-profile {
    direction: ltr;
    float: none;
    display: table;
    width: 100%;
    overflow: hidden;
  }
  html #page .cmsms_profile.vertical .type-profile .pl_content_wrap {
    direction: ltr;
    display: table-cell;
    width: 60%;
  }
  html #page .cmsms_profile.vertical .type-profile .pl_content_wrap .pl_content {
    direction: ltr;
    text-align: left;
  }
  html #page .cmsms_profile.vertical .type-profile .pl_content_wrap .pl_content * {
    text-align: left;
  }
  html #page .cmsms_profile.vertical .type-profile .pl_content_wrap .pl_social {
    text-align: left;
    direction: ltr;
  }
  html #page .cmsms_profile.vertical .type-profile .pl_img {
    direction: ltr;
    display: table-cell;
    width: 40%;
    border-right-width: 0;
    border-right-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
  }
  html #page .cmsms_profile.vertical .type-profile .pl_img .pl_noimg {
    max-height: none;
    max-width: none;
  }
  html #page .cmsms_profile.vertical .type-profile .pl_aligner_block {
    display: none;
  }
  html #page .cmsms_profile.horizontal .type-profile {
    margin-bottom: 80px;
  }
  html #page .cmsms_profile.horizontal .type-profile:last-child {
    margin-bottom: 0;
  }
  html #page .quote_grid.quote_four:before,
  html #page .quote_grid.quote_three:before,
  html #page .quote_grid.quote_two:before,
  html #page .quote_grid.quote_four:after,
  html #page .quote_grid.quote_three:after,
  html #page .quote_grid.quote_two:after {
    content: none;
  }
  html #page .quote_grid.quote_four .quote_vert,
  html #page .quote_grid.quote_three .quote_vert,
  html #page .quote_grid.quote_two .quote_vert {
    border-left-width: 0;
  }
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote,
  html #page .quote_grid.quote_three .quotes_list .cmsms_quote,
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote {
    display: block;
    width: 100%;
    padding: 25px;
    border-top-width: 2px;
    border-top-style: solid;
  }
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote:nth-child(1),
  html #page .quote_grid.quote_three .quotes_list .cmsms_quote:nth-child(1),
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote:nth-child(1) {
    border-top-width: 0;
  }
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote:nth-child(2),
  html #page .quote_grid.quote_three .quotes_list .cmsms_quote:nth-child(2),
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote:nth-child(2) {
    border-top-width: 2px;
  }
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote .quote_image,
  html #page .quote_grid.quote_three .quotes_list .cmsms_quote .quote_image,
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote .quote_image {
    margin: 0 25px 0 0;
    float: left;
  }
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote .quote_content_wrap,
  html #page .quote_grid.quote_three .quotes_list .cmsms_quote .quote_content_wrap,
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote .quote_content_wrap,
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote .quote_content,
  html #page .quote_grid.quote_three .quotes_list .cmsms_quote .quote_content,
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote .quote_content,
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote .wrap_quote_title,
  html #page .quote_grid.quote_three .quotes_list .cmsms_quote .wrap_quote_title,
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote .wrap_quote_title {
    text-align: left;
  }
  html #page .cmsms_heading_wrap.cmsms_heading_divider_short .cmsms_heading,
  html #page .cmsms_heading_wrap.cmsms_heading_divider_medium .cmsms_heading,
  html #page .cmsms_heading_wrap.cmsms_heading_divider_long .cmsms_heading {
    max-width: 70%;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap {
    float: none;
    margin: 0 5%;
    padding: 15px 0;
    clear: both;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap .search_wrap_inner {
    height: auto !important;
    width: 100%;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap .search_wrap_inner .search_wrap_inner_left {
    width: 100%;
    margin: 0;
    visibility: visible;
    opacity: 1;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap .search_wrap_inner .search_wrap_inner_right {
    display: none;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .social_wrap {
    float: none;
    margin: 0 5%;
    padding: 15px 0 10px;
    clear: both;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .social_wrap .social_wrap_inner {
    display: block;
    height: auto !important;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .social_wrap .social_wrap_inner ul {
    text-align: center;
    display: block;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .social_wrap .social_wrap_inner ul li {
    margin: 0;
    padding: 0 3px;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .slogan_wrap {
    max-width: none;
    margin: 0 5%;
    padding: 15px 0;
    float: none;
    clear: both;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .slogan_wrap .slogan_wrap_inner {
    display: block;
    height: auto !important;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .slogan_wrap .slogan_wrap_inner .slogan_wrap_text {
    text-align: center;
    display: block;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap {
    text-align: center;
    display: block;
    width: 100%;
    float: none;
    margin: 0;
    padding: 15px 5%;
    clear: both;
    overflow: hidden;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap .logo {
    display: inline-block;
    height: auto !important;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap .logo img {
    position: static;
    max-height: none;
    max-width: 100%;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .resp_nav_wrap {
    margin: 0;
    padding: 20px 0 15px;
    float: none;
    clear: both;
    text-align: center;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .resp_nav_wrap .resp_nav_wrap_inner {
    display: inline-block;
    height: auto !important;
  }
  html #page.enable_header_centered #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap {
    display: block;
    margin: 0 auto;
  }
  html #page .cmsms_clients_grid .cmsms_clients_item {
    width: 100%;
    margin-bottom: 0;
    border-top: none;
    border-right-width: 1px;
    border-right-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  html #page .cmsms_clients_grid .cmsms_clients_item:first-child {
    border-top-width: 1px;
    border-top-style: solid;
  }
  html #page .cmsms_clients_grid.clients_noborder .cmsms_clients_item {
    border: none;
  }
  html #page .cmsms_twitter .owl-buttons {
    right: 20px;
    top: 30px;
    bottom: auto;
  }
  html #page .cmsms_twitter .cmsms_twitter_item .published {
    width: 110px;
  }
  html #page .cmsms_twitter .cmsms_twitter_item .cmsms_twitter_item_content {
    padding-left: 125px;
  }
  html #page .twr_icon:before {
    left: 35px;
  }
  html #page #footer .footer_inner .footer_custom_html {
    text-align: center;
  }
  html #page #footer .footer_inner .logo,
  html #page #footer .footer_inner .social_wrap,
  html #page #footer .footer_inner nav,
  html #page #footer .footer_inner .copyright {
    padding-top: 15px;
  }
  html #page #footer .footer_inner .logo {
    float: none;
    display: block;
    text-align: center;
  }
  html #page #footer .footer_inner .social_wrap {
    text-align: center;
  }
  html #page #footer .footer_inner .social_wrap .social_wrap_inner {
    display: inline-block;
  }
  html #page #footer .footer_inner nav {
    float: none !important;
    text-align: center;
  }
  html #page #footer .footer_inner .copyright {
    display: block;
    text-align: center;
  }
}
/*-------------------------------------------------------------------------*/
/*	Tablet Monitor 600
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
  html.cmsms_html {
    margin-top: 0 !important;
  }
  html.cmsms_html body.admin-bar {
    padding-top: 46px;
  }
}
/*-------------------------------------------------------------------------*/
/*	4.	Phone Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 540px) {
  html #page .blog .post {
    min-width: 290px;
  }
  html #page .blog .post .cmsms_post_cont .cmsms_post_header {
    word-wrap: break-word;
  }
  html #page .blog .post .cmsms_post_cont .cmsms_post_footer .cmsms_post_meta_info {
    width: 130px;
  }
  html #page .blog.masonry .post .cmsms_post_cont .cmsms_post_footer .cmsms_post_date {
    padding: 12px 5px;
  }
  html #page .about_author .about_author_inner figure {
    display: block;
    margin: 0 0 20px;
    float: none;
    text-align: center;
  }
  html #page .about_author .about_author_inner .ovh {
    text-align: center;
  }
  html #page .about_author .about_author_inner .ovh .social_wrap {
    padding-top: 10px;
  }
  html #page .about_author .about_author_inner .ovh .social_wrap .social_wrap_inner > ul {
    text-align: center;
  }
  html #page .post_comments .commentlist .comment-body .alignleft {
    float: none;
    clear: both;
    margin: 0 0 15px;
    text-align: center;
  }
  html #page .post_comments .commentlist .comment-body .alignleft img {
    margin: 0 auto 15px;
  }
  html #page .post_comments .commentlist .comment-body .comment-content {
    text-align: center;
  }
  html #page .post_comments .commentlist .comment-body .comment-content > a {
    float: none;
    margin: 0;
    padding: 3px 10px;
  }
  html #page .post_comments .commentlist .comment-body .comment-content .published {
    clear: both;
    float: none;
    display: block;
    padding: 25px 0 0;
  }
  html #page .blog.opened-article .post .cmsms_post_footer .cmsms_post_meta_info > a {
    width: 50%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  html #page .blog.opened-article .post .cmsms_post_footer .cmsms_post_meta_info > a.cmsms_post_comments {
    border-right-width: 0;
    border-right-style: solid;
  }
  html #page .blog.opened-article .post .cmsms_post_footer .cmsms_post_meta_info .cmsms_post_date {
    width: 100%;
  }
  html #page .blog .project.type-project .cmsms_post_cont .cmsms_post_header .cmsms_post_title,
  html #page .blog .profile.type-profile .cmsms_post_cont .cmsms_post_header .cmsms_post_title {
    word-wrap: break-word;
  }
  html #page .cmsms_stats.stats_mode_circles .cmsms_stat_outer.one_half,
  html #page .cmsms_stats.stats_mode_circles .cmsms_stat_outer.one_third,
  html #page .cmsms_stats.stats_mode_circles .cmsms_stat_outer.one_fourth,
  html #page .cmsms_stats.stats_mode_circles .cmsms_stat_outer.one_fifth {
    float: none;
    width: 96%;
    clear: none !important;
  }
  html #page .cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_outer.one_half,
  html #page .cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_outer.one_third,
  html #page .cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_outer.one_fourth,
  html #page .cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_outer.one_fifth {
    float: left;
    width: 96%;
    clear: none !important;
  }
  html #page .cmsms_counters .cmsms_counter_wrap.one_half,
  html #page .cmsms_counters .cmsms_counter_wrap.one_third,
  html #page .cmsms_counters .cmsms_counter_wrap.one_fourth,
  html #page .cmsms_counters .cmsms_counter_wrap.one_fifth {
    width: 100%;
    clear: none !important;
  }
  html #page .headline .headline_outer .headline_text,
  html #page .headline .headline_outer .cmsms_breadcrumbs {
    width: 100%;
    text-align: center;
  }
  html #page .headline .headline_outer .headline_text {
    padding-top: 10px;
  }
  html #page .headline .headline_outer .cmsms_breadcrumbs {
    padding: 20px 0 10px;
  }
  html #page .headline .headline_outer .headline_aligner,
  html #page .headline .headline_outer .cmsms_breadcrumbs_aligner {
    display: none;
  }
  html #page .cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item {
    float: none;
    margin: 1px 0 0;
  }
  html #page .cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item.current_tab,
  html #page .cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item:hover > a {
    z-index: 1;
  }
  html #page .cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item:last-child {
    margin-bottom: 2px;
  }
  html #page .cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item > a:after {
    content: none;
  }
  html #page .cmsms_tabs.tabs_mode_tour .cmsms_tabs_list {
    float: none;
    display: block;
    width: 100%;
    padding: 0;
  }
  html #page .cmsms_tabs.tabs_mode_tour .cmsms_tabs_list_item:last-child {
    margin-bottom: 1px;
  }
  html #page .cmsms_tabs.tabs_mode_tour .cmsms_tabs_wrap {
    float: none;
    display: block;
    width: 100%;
    padding: 30px 20px 0;
  }
  html #page .related_posts > ul {
    border-width: 0;
    border-style: solid;
  }
  html #page .related_posts > ul li {
    float: none;
    margin: 0 1px -1px;
  }
  html #page .related_posts > ul li > a {
    border-width: 1px;
    border-style: solid;
  }
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item,
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item,
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item,
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item:first-child,
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item:first-child,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:first-child,
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:first-child,
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item:last-child,
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item:last-child,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:last-child,
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:last-child,
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item:nth-child(n),
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item:nth-child(n),
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:nth-child(n),
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:nth-child(n) {
    width: 100%;
    display: block;
    float: left;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  html #page .cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_sort_block {
    float: none;
    margin: 0;
    padding: 0;
  }
  html #page .cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_sort_block .cmsms_project_sort_but {
    width: 50%;
    padding: 11px 15px;
    text-align: center;
  }
  html #page .cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block {
    width: 100%;
    padding-top: 20px;
    overflow: hidden;
  }
  html #page .cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_but {
    width: 100%;
    padding: 11px 15px;
    text-align: center;
  }
  html #page .cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_but:before {
    margin: 0 10px 0 0;
    position: relative;
    left: auto;
    right: auto;
  }
  html #page .cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_list {
    padding-top: 10px;
    text-align: center;
  }
  html #page .cmsms_profile.vertical:before {
    content: none;
  }
  html #page .cmsms_profile.vertical .type-profile {
    margin-bottom: 80px;
    display: block;
  }
  html #page .cmsms_profile.vertical .type-profile:last-child {
    margin-bottom: 0;
  }
  html #page .cmsms_profile.vertical .type-profile .pl_img,
  html #page .cmsms_profile.vertical .type-profile .pl_content_wrap {
    float: none;
    display: block;
    width: 100%;
  }
  html #page .cmsms_profile.vertical .type-profile .pl_img {
    padding: 1px;
    border-bottom-width: 0;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
  }
  html #page .cmsms_profile.vertical .type-profile .pl_content_wrap {
    padding: 15px 20px 10px;
  }
  html #page .quote_grid.quote_one .quotes_list .cmsms_quote,
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote,
  html #page .quote_grid.quote_three .quotes_list .cmsms_quote,
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote {
    text-align: center;
  }
  html #page .quote_grid.quote_one .quotes_list .cmsms_quote .quote_image,
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote .quote_image,
  html #page .quote_grid.quote_three .quotes_list .cmsms_quote .quote_image,
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote .quote_image {
    margin: 0 0 20px;
    float: none;
  }
  html #page .quote_grid.quote_one .quotes_list .cmsms_quote .quote_content_wrap,
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote .quote_content_wrap,
  html #page .quote_grid.quote_three .quotes_list .cmsms_quote .quote_content_wrap,
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote .quote_content_wrap,
  html #page .quote_grid.quote_one .quotes_list .cmsms_quote .quote_content,
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote .quote_content,
  html #page .quote_grid.quote_three .quotes_list .cmsms_quote .quote_content,
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote .quote_content,
  html #page .quote_grid.quote_one .quotes_list .cmsms_quote .wrap_quote_title,
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote .wrap_quote_title,
  html #page .quote_grid.quote_three .quotes_list .cmsms_quote .wrap_quote_title,
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote .wrap_quote_title {
    text-align: center;
  }
  html #page .cmsms_featured_block .featured_block_text {
    display: block;
  }
  html #page .cmsms_featured_block .featured_block_button_wrap {
    display: block;
    padding: 20px;
    text-align: center;
    overflow: hidden;
  }
  html #page .cmsms_featured_block .featured_block_button_wrap .featured_block_button {
    display: inline-block;
    float: none;
  }
  html #page .cmsms_twitter .owl-wrapper-outer .owl-item .cmsms_twitter_item .published {
    height: auto;
    padding-bottom: 10px;
    position: relative;
  }
  html #page .cmsms_twitter .owl-wrapper-outer .owl-item .cmsms_twitter_item .cmsms_twitter_item_content {
    padding: 80px 10px 30px 10px;
  }
  html #page .cmsms_twitter .owl-controls {
    padding-bottom: 20px;
  }
  html #page .cmsms_twitter .owl-controls .owl-buttons {
    width: auto;
    height: auto;
    transform: none;
    position: relative;
    right: auto;
    top: auto;
    text-align: center;
  }
  html #page .cmsms_twitter .owl-controls .owl-buttons > div {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
  }
  html #page .cmsms_twitter .owl-controls .owl-buttons .owl-prev {
    margin-right: 5px;
  }
  html #page .cmsms_twitter .cmsms_twitter_item .cmsms_twitter_item_content {
    padding-left: 135px;
    padding-right: 80px;
  }
  html #page .twr_icon:before {
    display: block;
    height: auto;
    margin: 0 auto;
    position: relative;
    left: 0;
  }
  html #page .cmsms_heading_wrap.cmsms_heading_divider_short .cmsms_heading,
  html #page .cmsms_heading_wrap.cmsms_heading_divider_medium .cmsms_heading,
  html #page .cmsms_heading_wrap.cmsms_heading_divider_long .cmsms_heading {
    max-width: 100%;
  }
  html #page .cmsms_heading_wrap.cmsms_heading_divider_short .cmsms_heading_divider_left_wrap,
  html #page .cmsms_heading_wrap.cmsms_heading_divider_medium .cmsms_heading_divider_left_wrap,
  html #page .cmsms_heading_wrap.cmsms_heading_divider_long .cmsms_heading_divider_left_wrap,
  html #page .cmsms_heading_wrap.cmsms_heading_divider_short .cmsms_heading_divider_right_wrap,
  html #page .cmsms_heading_wrap.cmsms_heading_divider_medium .cmsms_heading_divider_right_wrap,
  html #page .cmsms_heading_wrap.cmsms_heading_divider_long .cmsms_heading_divider_right_wrap {
    display: none;
  }
  html #page .error_inner .error_title {
    word-wrap: break-word;
  }
  html #page #header .header_mid nav .cmsms_dynamic_cart .widget_shopping_cart_content .buttons > a,
  html #page #header .header_bot nav .cmsms_dynamic_cart .widget_shopping_cart_content .buttons > a {
    padding: 5px 30px 5px 25px;
  }
}
/*-------------------------------------------------------------------------*/
/*	5.	Small Phone Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 320px) {
  html .post-password-form,
  html .header_top_inner,
  html .header_mid_inner,
  html .header_bot_inner,
  html .content_wrap,
  html .headline_inner,
  html .cmsms_breadcrumbs_inner,
  html .bottom_outer,
  html .footer_inner,
  html .cmsms_row_inner,
  html .cmsms_row_title_wrap {
    width: 320px;
  }
  html #page .blog .post {
    min-width: 235px;
  }
  html #page .blog .post .cmsms_post_cont .cmsms_post_footer .cmsms_post_meta_info {
    width: 100%;
  }
  html #page .blog .post .cmsms_post_cont .cmsms_post_footer .cmsms_post_meta_info > a:last-child {
    border-right-width: 0;
    border-right-style: solid;
  }
  html #page .blog .post .cmsms_post_cont .cmsms_post_footer .cmsms_post_read_more {
    width: 101%;
    margin: 0 0 0 -1px;
    padding: 12px 10px 12px 10px;
  }
  html #page .blog .post .cmsms_post_cont .cmsms_post_footer .cmsms_post_read_more:before {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 10px 0 0;
    padding: 0 4px;
    position: relative;
    left: auto;
    top: auto;
    bottom: -2px;
  }
  html #page .blog.masonry .post .cmsms_post_cont .cmsms_post_footer .cmsms_post_meta_info {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  html #page .cmsms_post_filter_wrap {
    padding-bottom: 0;
  }
  html #page .cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block {
    text-align: center;
  }
  html #page .cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_but {
    float: none;
  }
  html #page .cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_list {
    padding: 0;
    text-align: center;
    display: none;
  }
  html #page .cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_list > li {
    display: block;
    padding: 10px 0 0;
  }
  html #page .cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_list > li:last-child {
    padding-bottom: 10px;
  }
  html #page .cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_but.current + .cmsms_post_filter_list {
    display: block;
  }
  html #page #header .header_mid nav .cmsms_dynamic_cart .widget_shopping_cart_content .buttons,
  html #page #header .header_bot nav .cmsms_dynamic_cart .widget_shopping_cart_content .buttons {
    margin-top: 10px;
  }
  html #page #header .header_mid nav .cmsms_dynamic_cart .widget_shopping_cart_content .buttons > a,
  html #page #header .header_bot nav .cmsms_dynamic_cart .widget_shopping_cart_content .buttons > a {
    float: none;
    display: block;
    width: 50%;
    margin-bottom: 10px;
  }
  html #page #header .header_mid nav .cmsms_dynamic_cart .widget_shopping_cart_content .buttons > a:last-child,
  html #page #header .header_bot nav .cmsms_dynamic_cart .widget_shopping_cart_content .buttons > a:last-child {
    margin-bottom: 0;
  }
}

