<!-- _________________________ Start Middle _________________________ -->
<section id="middle">
<div class="middle_inner">
<section class="content_wrap fullwidth">

<!--_________________________ Start Content _________________________ -->
<div class="middle_content entry" role="main">
	</div>
</section> 


<div id="cmsms_row_55ceec8c3596a" class="cmsms_row cmsms_color_scheme_default">
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner cmsms_row_fullwidth">
<div class="cmsms_row_margin">
<div class="cmsms_column one_first">
<div class="cmsms_slider">
	<script data-cfasync="false" type="text/javascript">var lsjQuery = jQuery;</script>
	<script data-cfasync="false" type="text/javascript"> lsjQuery(document).ready(function() { if(typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('layerslider_2','jquery'); } else { lsjQuery("#layerslider_2").layerSlider({startInViewport: false, skinsPath: 'http://garage.cmsmasters.net/wp-content/plugins/LayerSlider/static/skins/'}) } }); 
	</script>

<div id="layerslider_2" class="ls-wp-container" style="width:1920px;height:633px;margin:0 auto;margin-bottom: 0px;">
  <div class="ls-slide" data-ls="slidedelay:3200; transition2d: all;">
   <img src="http://garage.cmsmasters.net/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/01-bg.jpg" class="ls-bg" alt="01-bg" />
	<img class="ls-l" style="top:165px;left:742px;white-space: nowrap;" data-ls="offsetxin:-160;durationin:800;delayin:400;offsetxout:160;" src="http://garage.cmsmasters.net/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/01-caption-02.png" alt="">
	<img class="ls-l" style="top:165px;left:381px;white-space: nowrap;" data-ls="offsetxin:-80;durationin:800;offsetxout:80;" src="http://garage.cmsmasters.net/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/01-caption.jpg" alt="">
	<p class="ls-l" style="top:231px;left:425px;font-weight:bold;font-family:Montserrat Alternates;font-size:36px;line-height:40px;color:#ffffff;white-space: nowrap;" data-ls="durationin:800;">Qualified<br> Mechanical<br> Help</p>
	<p class="ls-l" style="top:245px;left:795px;font-family:Source Sans Pro;font-size:16px;line-height:20px;color:#999999;white-space: nowrap;" data-ls="durationin:800;delayin:600;">We can repair any vehicle.<br> Just contact us</p>
	<img class="ls-l" style="top:308px;left:796px;white-space: nowrap;" data-ls="durationin:1200;delayin:800;rotatein:360;" src="http://garage.cmsmasters.net/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/01-cycle.png" alt="">
	<p class="ls-l" style="top:316px;left:845px;font-weight: 700;font-family:Source Sans Pro;font-size:13px;color:#ffffff;white-space: nowrap;" data-ls="durationin:1200;delayin:800;">MAKE AN APPOINTMENT</p>
   </div>

	<div class="ls-slide" data-ls="slidedelay:3200; transition2d: all;">
		<img src="http://garage.cmsmasters.net/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://garage.cmsmasters.net/wp-content/uploads/2015/01/02-2-bg-re.jpg" class="ls-bg" alt="02-2-bg-re" />
		<img class="ls-l" style="top:165px;left:818px;white-space: nowrap;" data-ls="offsetxin:160;durationin:800;delayin:400;offsetxout:-160;" src="http://garage.cmsmasters.net/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://garage.cmsmasters.net/wp-content/uploads/2015/01/01-caption-04.png" alt="">
		<img class="ls-l" style="top:165px;left:1180px;white-space: nowrap;" data-ls="offsetxin:-80;durationin:800;offsetxout:80;" src="http://garage.cmsmasters.net/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/01-caption.jpg" alt="">
		<p class="ls-l" style="top:231px;left:1230px;font-weight:bold;font-family:Montserrat Alternates;font-size:36px;line-height:40px;color:#ffffff;white-space: nowrap;" data-ls="durationin:800;">Best<br> Professional<br> Staff</p>
		<p class="ls-l" style="top:245px;left:865px;font-family:Source Sans Pro;font-size:16px;line-height:20px;color:#dbdbdb;white-space: nowrap;" data-ls="durationin:800;delayin:600;">We will make you love your car.<br> And it will be worth it</p>
		<img class="ls-l" style="top:308px;left:865px;white-space: nowrap;" data-ls="durationin:1200;delayin:800;rotatein:360;" src="http://garage.cmsmasters.net/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/01-cycle.png" alt=""><p class="ls-l" style="top:315px;left:910px;font-weight: 700;font-family:Source Sans Pro;font-size:13px;color:#ffffff;white-space: nowrap;" data-ls="durationin:1200;delayin:800;">MAKE AN APPOINTMENT</p>
	</div>
	<div class="ls-slide" data-ls="slidedelay:3200; transition2d: all;">
		<img src="http://garage.cmsmasters.net/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://garage.cmsmasters.net/wp-content/uploads/2015/01/03-bg-re.jpg" class="ls-bg" alt="03-bg-re" />
		<img class="ls-l" style="top:165px;left:742px;white-space: nowrap;" data-ls="offsetxin:-160;durationin:800;delayin:400;offsetxout:160;" src="http://garage.cmsmasters.net/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/01-caption-02.png" alt="">
		<img class="ls-l" style="top:165px;left:380px;white-space: nowrap;" data-ls="offsetxin:-80;durationin:800;offsetxout:80;" src="http://garage.cmsmasters.net/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/01-caption.jpg" alt="">
		<p class="ls-l" style="top:231px;left:425px;font-weight:bold;font-family:Montserrat Alternates;font-size:36px;line-height:40px;color:#ffffff;white-space: nowrap;" data-ls="durationin:800;">Car<br> Tuning<br> Service</p>
		<p class="ls-l" style="top:246px;left:796px;font-family:Source Sans Pro;font-size:16px;line-height:20px;color:#999999;white-space: nowrap;" data-ls="durationin:800;delayin:600;">Get your car a new classy look.<br> Everyone will envy you</p>
		<img class="ls-l" style="top:308px;left:796px;white-space: nowrap;" data-ls="durationin:1200;delayin:800;rotatein:360;" src="http://garage.cmsmasters.net/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/01-cycle.png" alt="">
		<p class="ls-l" style="top:315px;left:845px;font-weight: 700;font-family:Source Sans Pro;font-size:13px;color:#ffffff;white-space: nowrap;" data-ls="durationin:1200;delayin:800;">MAKE AN APPOINTMENT</p>
	</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="cmsms_row_55ceec8c3fe66" class="cmsms_row cmsms_color_scheme_default">
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner">
<div class="cmsms_row_margin">
<div class="cmsms_column one_fourth">
<div id="cmsms_title_box_55ceec8c400a9" class="cmsms_title_box">
<div class="cmsms_title_box_inner">
<div class="cmsms_title_box_title_wrap">
<span class="cmsms-icon-award-1 cmsms_title_box_icon"></span><h3 class="cmsms_title_box_title">Quality</h3>
</div><figure class="cmsms_title_box_img"><img width="580" height="580" src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/text-block-580x580.jpg" class="attachment-project-masonry-thumb" alt="text-block" /></figure><div class="cmsms_title_box_text">
<p><a style="font-weight: 600;" href="#">LEARN MORE</a></p>
</div>
</div></div>
</div>
<div class="cmsms_column one_fourth">
<div id="cmsms_title_box_55ceec8c40912" class="cmsms_title_box">
<div class="cmsms_title_box_inner">
<div class="cmsms_title_box_title_wrap">
<span class="cmsms-icon-settings cmsms_title_box_icon"></span><h3 class="cmsms_title_box_title">Tech</h3>
</div><figure class="cmsms_title_box_img"><img width="580" height="580" src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/text-block-5-11-580x580.jpg" class="attachment-project-masonry-thumb" alt="text-block-5-1" /></figure><div class="cmsms_title_box_text">
<p><a style="font-weight: 600;" href="#">LEARN MORE</a></p>
</div>
</div></div>
</div>
<div class="cmsms_column one_fourth">
<div id="cmsms_title_box_55ceec8c41135" class="cmsms_title_box">
<div class="cmsms_title_box_inner">
<div class="cmsms_title_box_title_wrap">
<span class="cmsms-icon-thumbs-up-3 cmsms_title_box_icon"></span><h3 class="cmsms_title_box_title">Easy</h3>
</div><figure class="cmsms_title_box_img"><img width="580" height="580" src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/text-block-3-2-580x580.jpg" class="attachment-project-masonry-thumb" alt="text-block-3-2" /></figure><div class="cmsms_title_box_text">
<p><a style="font-weight: 600;" href="#">LEARN MORE</a></p>
</div>
</div></div>
</div>
<div class="cmsms_column one_fourth">
<div id="cmsms_title_box_55ceec8c4194c" class="cmsms_title_box">
<div class="cmsms_title_box_inner">
<div class="cmsms_title_box_title_wrap">
<span class="cmsms-icon-time cmsms_title_box_icon"></span><h3 class="cmsms_title_box_title">Fast</h3>
</div><figure class="cmsms_title_box_img"><img width="580" height="580" src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/text-block-7-580x580.jpg" class="attachment-project-masonry-thumb" alt="text-block-7" /></figure><div class="cmsms_title_box_text">
<p><a style="font-weight: 600;" href="#">LEARN MORE</a></p>
</div>
</div></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="cmsms_row_55ceec8c420a1" class="cmsms_row cmsms_color_scheme_default">
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner cmsms_row_fullwidth">
<div class="cmsms_row_margin">
<div class="cmsms_column one_first">

<div id="cmsms_divider_55ceec8c42290" class="cmsms_divider cmsms_divider_width_long cmsms_divider_pos_center"></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="cmsms_row_55ceec8c42385" class="cmsms_row cmsms_color_scheme_default">
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner">
<div class="cmsms_row_margin">
<div class="cmsms_column one_fourth">

<div id="cmsms_heading_55ceec8c427a9" class="cmsms_heading_wrap cmsms_heading_align_left">
	<h3 class="cmsms_heading">Welcome!</h3>
</div><div class="cmsms_text">
<ul style="padding: 0; overflof: hidden;">
<li><a style="text-transform: uppercase; font-weight: 600;" href="#">Why choose us?</a></li>
<li><a style="text-transform: uppercase; font-weight: 600;" href="#">Our services</a></li>
<li><a style="text-transform: uppercase; font-weight: 600;" href="#">About us</a></li>
<li><a style="text-transform: uppercase; font-weight: 600;" href="#">Meet the team</a></li>
<li><a style="text-transform: uppercase; font-weight: 600;" href="#">Shop</a></li>
<li><a style="text-transform: uppercase; font-weight: 600;" href="#">LOCATION</a></li>
<li><a style="text-transform: uppercase; font-weight: 600;" href="#">Contacts</a></li>
</ul>
</div>
</div>
<div class="cmsms_column three_fourth">

<div id="cmsms_heading_55ceec8c42cce" class="cmsms_heading_wrap cmsms_heading_align_left">
	<h3 class="cmsms_heading">Services</h3>
</div>
<div class="cmsms_posts_slider" >
	
<div id="cmsms_owl_carousel_55ceec8c42e6c" class="cmsms_owl_slider cmsms_slider_55ceec8c42e6c"><div>
<!--_________________________ Start Standard Project _________________________ -->

<article id="post-1606" class="post-1606 project type-project status-publish format-standard has-post-thumbnail hentry pj-categs-diagnostic pj-categs-mechanic">
  <div class="slider_project_outer">
	<figure class="cmsms_img_rollover_wrap preloader">
		<img width="580" height="390" src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/09-580x390.jpg" class="full-width wp-post-image" alt="Power Steering" title="Power Steering" />
		<div class="cmsms_img_rollover">
			<a href="http://garage.cmsmasters.net/wp-content/uploads/2014/12/09.jpg" rel="ilightbox[1606_55ceec8c4567b]" title="Power Steering" class="cmsms_image_link no_open_link">
				<span class="cmsms_theme_icon_eye"></span>
			</a>
		</div>
	</figure>
	<div class="slider_project_inner">
		<header class="cmsms_slider_project_header entry-header">
			<h6 class="cmsms_slider_project_title entry-title">
				<a href="http://garage.cmsmasters.net/project/power-steering/">Power Steering</a>
			</h6>
		</header>
		<div class="cmsms_slider_project_footer_wrap">
			<div class="cmsms_slider_project_cont_info entry-meta">
				<span class="cmsms_slider_project_category">
					<a href="http://garage.cmsmasters.net/pj-categs/diagnostic/" rel="tag">Diagnostic</a>, 
					<a href="http://garage.cmsmasters.net/pj-categs/mechanic/" rel="tag">Mechanic</a>
				</span>
			</div>
			<footer class="cmsms_slider_project_footer entry-meta">
				<a class="cmsms_slider_project_comments cmsms_theme_icon_comment" href="http://garage.cmsmasters.net/project/power-steering/#comments" title="Comment on Power Steering">0</a>
			</footer>
		</div>
	</div>	
		<div class="cl"></div>
	</div>
</article>
<!--_________________________ Finish Standard Project _________________________ -->

</div><div>
<!--_________________________ Start Standard Project _________________________ -->

<article id="post-1603" class="post-1603 project type-project status-publish format-standard has-post-thumbnail hentry pj-categs-diagnostic pj-categs-repair">
	<div class="slider_project_outer">
	<figure class="cmsms_img_rollover_wrap preloader"><img width="580" height="390" src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/08-580x390.jpg" class="full-width wp-post-image" alt="Cooling System Service &amp; Repair" title="Cooling System Service &amp; Repair" /><div class="cmsms_img_rollover"><a href="http://garage.cmsmasters.net/wp-content/uploads/2014/12/08.jpg" rel="ilightbox[1603_55ceec8c47281]" title="Cooling System Service &amp; Repair" class="cmsms_image_link no_open_link"><span class="cmsms_theme_icon_eye"></span></a></div></figure><div class="slider_project_inner"><header class="cmsms_slider_project_header entry-header"><h6 class="cmsms_slider_project_title entry-title"><a href="http://garage.cmsmasters.net/project/cooling-system-service-repair/">Cooling System Service &amp; Repair</a></h6></header><div class="cmsms_slider_project_footer_wrap"><div class="cmsms_slider_project_cont_info entry-meta"><span class="cmsms_slider_project_category"><a href="http://garage.cmsmasters.net/pj-categs/diagnostic/" rel="tag">Diagnostic</a>, <a href="http://garage.cmsmasters.net/pj-categs/repair/" rel="tag">Repair</a></span></div><footer class="cmsms_slider_project_footer entry-meta"><a class="cmsms_slider_project_comments cmsms_theme_icon_comment" href="http://garage.cmsmasters.net/project/cooling-system-service-repair/#comments" title="Comment on Cooling System Service &#038; Repair">0</a></footer></div></div>		<div class="cl"></div>
	</div>
</article>
<!--_________________________ Finish Standard Project _________________________ -->

</div><div>
<!--_________________________ Start Standard Project _________________________ -->

<article id="post-1598" class="post-1598 project type-project status-publish format-standard has-post-thumbnail hentry pj-categs-mechanic">
	<div class="slider_project_outer">
	<figure class="cmsms_img_rollover_wrap preloader"><img width="580" height="390" src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/07-580x390.jpg" class="full-width wp-post-image" alt="Undercar Services" title="Undercar Services" /><div class="cmsms_img_rollover"><a href="http://garage.cmsmasters.net/wp-content/uploads/2014/12/07.jpg" rel="ilightbox[1598_55ceec8c48e76]" title="Undercar Services" class="cmsms_image_link no_open_link"><span class="cmsms_theme_icon_eye"></span></a></div></figure><div class="slider_project_inner"><header class="cmsms_slider_project_header entry-header"><h6 class="cmsms_slider_project_title entry-title"><a href="http://garage.cmsmasters.net/project/undercar-services/">Undercar Services</a></h6></header><div class="cmsms_slider_project_footer_wrap"><div class="cmsms_slider_project_cont_info entry-meta"><span class="cmsms_slider_project_category"><a href="http://garage.cmsmasters.net/pj-categs/mechanic/" rel="tag">Mechanic</a></span></div><footer class="cmsms_slider_project_footer entry-meta"><a class="cmsms_slider_project_comments cmsms_theme_icon_comment" href="http://garage.cmsmasters.net/project/undercar-services/#comments" title="Comment on Undercar Services">0</a></footer></div></div>		<div class="cl"></div>
	</div>
</article>
<!--_________________________ Finish Standard Project _________________________ -->

</div><div>
<!--_________________________ Start Standard Project _________________________ -->

<article id="post-1587" class="post-1587 project type-project status-publish format-standard has-post-thumbnail hentry pj-categs-diagnostic">
	<div class="slider_project_outer">
	<figure class="cmsms_img_rollover_wrap preloader"><img width="580" height="390" src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/05-1-580x390.jpg" class="full-width wp-post-image" alt="Complete Computer Diagnostics" title="Complete Computer Diagnostics" /><div class="cmsms_img_rollover"><a href="http://garage.cmsmasters.net/wp-content/uploads/2014/12/05-1.jpg" rel="ilightbox[1587_55ceec8c4a922]" title="Complete Computer Diagnostics" class="cmsms_image_link no_open_link"><span class="cmsms_theme_icon_eye"></span></a></div></figure><div class="slider_project_inner"><header class="cmsms_slider_project_header entry-header"><h6 class="cmsms_slider_project_title entry-title"><a href="http://garage.cmsmasters.net/project/complete-computer-diagnostics/">Complete Computer Diagnostics</a></h6></header><div class="cmsms_slider_project_footer_wrap"><div class="cmsms_slider_project_cont_info entry-meta"><span class="cmsms_slider_project_category"><a href="http://garage.cmsmasters.net/pj-categs/diagnostic/" rel="tag">Diagnostic</a></span></div><footer class="cmsms_slider_project_footer entry-meta"><a class="cmsms_slider_project_comments cmsms_theme_icon_comment" href="http://garage.cmsmasters.net/project/complete-computer-diagnostics/#comments" title="Comment on Complete Computer Diagnostics">0</a></footer></div></div>		<div class="cl"></div>
	</div>
</article>
<!--_________________________ Finish Standard Project _________________________ -->

</div><div>
<!--_________________________ Start Standard Project _________________________ -->

<article id="post-1567" class="post-1567 project type-project status-publish format-standard has-post-thumbnail hentry pj-categs-repair">
	<div class="slider_project_outer">
	<figure class="cmsms_img_rollover_wrap preloader">
		<img width="580" height="390" src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/04-re-580x390.jpg" class="full-width wp-post-image" alt="Tires Center" title="Tires Center" />
		<div class="cmsms_img_rollover">
			<a href="http://garage.cmsmasters.net/wp-content/uploads/2014/12/04-re.jpg" rel="ilightbox[1567_55ceec8c4c345]" title="Tires Center" class="cmsms_image_link no_open_link">
				<span class="cmsms_theme_icon_eye"></span>
			</a>
		</div>
	</figure>
	<div class="slider_project_inner">
		<header class="cmsms_slider_project_header entry-header">
			<h6 class="cmsms_slider_project_title entry-title">
				<a href="http://garage.cmsmasters.net/project/tires/">Tires Center</a>
			</h6>
		</header>
		<div class="cmsms_slider_project_footer_wrap">
			<div class="cmsms_slider_project_cont_info entry-meta">
				<span class="cmsms_slider_project_category">
					<a href="http://garage.cmsmasters.net/pj-categs/repair/" rel="tag">Repair</a>
				</span>
			</div>
			<footer class="cmsms_slider_project_footer entry-meta">
				<a class="cmsms_slider_project_comments cmsms_theme_icon_comment" href="http://garage.cmsmasters.net/project/tires/#comments" title="Comment on Tires Center">0</a>
			</footer>
		</div>
	</div>		
	<div class="cl"></div>
	</div>
</article>
<!--_________________________ Finish Standard Project _________________________ -->

</div>
<div>
<!--_________________________ Start Standard Project _________________________ -->

<article id="post-44" class="post-44 project type-project status-publish format-standard has-post-thumbnail hentry pj-categs-repair">
	<div class="slider_project_outer">
	<figure class="cmsms_img_rollover_wrap preloader">
		<img width="580" height="390" src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/061-580x390.jpg" class="full-width wp-post-image" alt="Suspension &amp; Steering Repair" title="Suspension &amp; Steering Repair" />
		<div class="cmsms_img_rollover">
			<a href="http://garage.cmsmasters.net/wp-content/uploads/2014/12/061.jpg" rel="ilightbox[44_55ceec8c4ddf3]" title="Suspension &amp; Steering Repair" class="cmsms_image_link no_open_link">
				<span class="cmsms_theme_icon_eye"></span>
			</a>
		</div>
	</figure>
	<div class="slider_project_inner">
		<header class="cmsms_slider_project_header entry-header">
			<h6 class="cmsms_slider_project_title entry-title">
				<a href="http://garage.cmsmasters.net/project/ducimus-qui-blanditiis-praes-entium-voluptatum/">Suspension &amp; Steering Repair</a>
			</h6>
		</header>
		<div class="cmsms_slider_project_footer_wrap">
			<div class="cmsms_slider_project_cont_info entry-meta">
				<span class="cmsms_slider_project_category">
					<a href="http://garage.cmsmasters.net/pj-categs/repair/" rel="tag">Repair</a>
				</span>
			</div>
			<footer class="cmsms_slider_project_footer entry-meta">
				<a class="cmsms_slider_project_comments cmsms_theme_icon_comment" href="http://garage.cmsmasters.net/project/ducimus-qui-blanditiis-praes-entium-voluptatum/#comments" title="Comment on Suspension &#038; Steering Repair">0</a>
			</footer>
		</div>
	</div>		
	<div class="cl"></div>
	</div>
</article>
<!--_________________________ Finish Standard Project _________________________ -->

</div><div>
<!--_________________________ Start Standard Project _________________________ -->

<article id="post-41" class="post-41 project type-project status-publish format-standard has-post-thumbnail hentry pj-categs-repair">
<div class="slider_project_outer">
<figure class="cmsms_img_rollover_wrap preloader">
	<img width="580" height="390" src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/11-580x390.jpg" class="full-width wp-post-image" alt="General Services" title="General Services" /><div class="cmsms_img_rollover"><a href="http://garage.cmsmasters.net/wp-content/uploads/2014/12/11.jpg" rel="ilightbox[41_55ceec8c4fa84]" title="General Services" class="cmsms_image_link no_open_link"><span class="cmsms_theme_icon_eye"></span></a></div></figure><div class="slider_project_inner"><header class="cmsms_slider_project_header entry-header"><h6 class="cmsms_slider_project_title entry-title"><a href="http://garage.cmsmasters.net/project/ducimus-qui/">General Services</a></h6></header><div class="cmsms_slider_project_footer_wrap"><div class="cmsms_slider_project_cont_info entry-meta"><span class="cmsms_slider_project_category"><a href="http://garage.cmsmasters.net/pj-categs/repair/" rel="tag">Repair</a></span></div><footer class="cmsms_slider_project_footer entry-meta"><a class="cmsms_slider_project_comments cmsms_theme_icon_comment" href="http://garage.cmsmasters.net/project/ducimus-qui/#comments" title="Comment on General Services">0</a></footer></div></div>		<div class="cl"></div>
	</div>
</article>
<!--_________________________ Finish Standard Project _________________________ -->

</div><div>
<!--_________________________ Start Standard Project _________________________ -->

<article id="post-37" class="post-37 project type-project status-publish format-standard has-post-thumbnail hentry pj-categs-repair">
	<div class="slider_project_outer">
	<figure class="cmsms_img_rollover_wrap preloader"><img width="580" height="390" src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/01-580x390.jpg" class="full-width wp-post-image" alt="Engine Repair" title="Engine Repair" /><div class="cmsms_img_rollover"><a href="http://garage.cmsmasters.net/wp-content/uploads/2014/12/01.jpg" rel="ilightbox[37_55ceec8c51554]" title="Engine Repair" class="cmsms_image_link no_open_link"><span class="cmsms_theme_icon_eye"></span></a></div></figure><div class="slider_project_inner"><header class="cmsms_slider_project_header entry-header"><h6 class="cmsms_slider_project_title entry-title"><a href="http://garage.cmsmasters.net/project/ducimus-qui-blanditiis-praese-ntium-voluptatum/">Engine Repair</a></h6></header><div class="cmsms_slider_project_footer_wrap"><div class="cmsms_slider_project_cont_info entry-meta"><span class="cmsms_slider_project_category"><a href="http://garage.cmsmasters.net/pj-categs/repair/" rel="tag">Repair</a></span></div></div></div>		<div class="cl"></div>
	</div>
</article>
<!--_________________________ Finish Standard Project _________________________ -->

</div></div></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="cmsms_row_55ceec8c531fb" class="cmsms_row cmsms_color_scheme_default" data-stellar-background-ratio="0.5">
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner">
<div class="cmsms_row_margin">
<div class="cmsms_column one_first">

<div id="cmsms_heading_55ceec8c5394a" class="cmsms_heading_wrap cmsms_heading_align_center">
	<h1 class="cmsms_heading">Pimp your Ride</h1>
</div>
<div id="cmsms_button_55ceec8c53a73" class="button_wrap"><a href="#" class="cmsms_button"><span>unlimited ways to make your car cooler than others</span></a></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="cmsms_row_55ceec8c53bc3" class="cmsms_row cmsms_color_scheme_default">
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner">
<div class="cmsms_row_margin">
<div class="cmsms_column one_half">

<div id="cmsms_heading_55ceec8c542a7" class="cmsms_heading_wrap cmsms_heading_align_left">
	<h3 class="cmsms_heading">Get a free quote</h3>
</div>
<div class="cmsms_contact_form"><div role="form" class="wpcf7" id="wpcf7-f4-p10-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form name="" action="/#wpcf7-f4-p10-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="4" />
<input type="hidden" name="_wpcf7_version" value="4.2.1" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4-p10-o1" />
<input type="hidden" name="_wpnonce" value="7828ed9a0b" />
</div>
<p>Your Name (required)<br />
    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span> </p>
<p>Your Email (required)<br />
    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span> </p>
<p>Your Message<br />
    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> </p>
<p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" /></p>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div></div>
</div>
<div class="cmsms_column one_fourth">

<div id="cmsms_heading_55ceec8c5526d" class="cmsms_heading_wrap cmsms_heading_align_left">
	<h3 class="cmsms_heading">Upcoming Events</h3>
</div>
<div class="cmsms_sidebar sidebar_layout_11"><aside id="tribe-events-adv-list-widget-2" class="widget tribe-events-adv-list-widget">	<ol class="hfeed vcalendar">
	
		<!-- Event  -->
		<li class="hentry vevent type-tribe_events post-2735 tribe-clearfix tribe-events-category-practic tribe-events-category-repair tribe-events-venue-1634 tribe-events-organizer-1633 tribe-events-first tribe-events-last">
			<div class="list-date">
	<span class="list-dayname">Dec</span>
	<span class="list-daynumber">10</span>
</div>

<div class="list-info">
	
	<h3 class="entry-title summary">
		<a href="http://garage.cmsmasters.net/event/car-club-event-2015-12-10/" rel="bookmark">Car club Event</a>
	</h3>
	<div class="cmsms_widget_event_info">
		<div class="duration">
						<span class="date-start dtstart">December 10 @ 10:00 am<span class="value-title" title="2015-12-10UTC10:00"></span></span> - <span class="date-end dtend">December 11 @ 7:00 pm<span class="value-title" title="2015-12-11UTC07:00"></span></span>		</div>
	</div>

	
	
	<div class="vcard adr location cmsms_widget_event_venue_info_loc">
			<div class="cmsms_widget_event_venue_info">
			
							<span class="street-address">CA 95817</span>
			
							<span class="locality">Sacramento</span>
			
			
			
					</div>
		</div>

	</div>

		</li><!-- .hentry .vevent -->

		
	
		<!-- Event  -->
		<li class="hentry vevent type-tribe_events post-1870 tribe-clearfix tribe-events-category-car tribe-events-category-practic tribe-events-venue-1889 tribe-events-organizer-1633 tribe-events-first tribe-events-last">
			<div class="list-date">
	<span class="list-dayname">Dec</span>
	<span class="list-daynumber">14</span>
</div>

<div class="list-info">
	
	<h3 class="entry-title summary">
		<a href="http://garage.cmsmasters.net/event/mechanic-lady/" rel="bookmark">Mechanics for ladies</a>
	</h3>
	<div class="cmsms_widget_event_info">
		<div class="duration">
						<span class="date-start dtstart">December 14 @ 8:00 am<span class="value-title" title="2015-12-14UTC08:00"></span></span> - <span class="date-end dtend">December 15 @ 5:00 pm<span class="value-title" title="2015-12-15UTC05:00"></span></span>		</div>
	</div>

	
	
	<div class="vcard adr location cmsms_widget_event_venue_info_loc">
			<div class="cmsms_widget_event_venue_info">
			
							<span class="street-address">643 Martin Luther King</span>
			
							<span class="locality">Atlanta</span>
			
			
			
					</div>
		</div>

	</div>

		</li><!-- .hentry .vevent -->

		
	
		<!-- Event  -->
		<li class="hentry vevent type-tribe_events post-2736 tribe-clearfix tribe-events-category-car tribe-events-category-practic tribe-events-venue-1641 tribe-events-organizer-1640 tribe-events-first tribe-events-last">
			<div class="list-date">
	<span class="list-dayname">Dec</span>
	<span class="list-daynumber">25</span>
</div>

<div class="list-info">
	
	<h3 class="entry-title summary">
		<a href="http://garage.cmsmasters.net/event/sundays-%d1%81harity-race-2015-12-25/2015-12-25/" rel="bookmark">Sunday&#8217;s charity race</a>
	</h3>
	<div class="cmsms_widget_event_info">
		<div class="duration">
						<span class="date-start dtstart">December 25 @ 11:00 am<span class="value-title" title="2015-12-25UTC11:00"></span></span> - <span class="end-time dtend">5:00 pm<span class="value-title" title="2015-12-25UTC05:00"></span></span>		</div>
	</div>

	
	
	<div class="vcard adr location cmsms_widget_event_venue_info_loc">
			<div class="cmsms_widget_event_venue_info">
			
							<span class="street-address">2116 Bridge St</span>
			
							<span class="locality">Philadelphia</span>
			
			
			
					</div>
		</div>

	</div>

		</li><!-- .hentry .vevent -->

		
		</ol><!-- .hfeed -->

	<p class="tribe-events-widget-link">
		<a href="http://garage.cmsmasters.net/events/" rel="bookmark">
			View More&hellip;		</a>
	</p>

</aside><div class="cl"></div>
</div>
</div>
<div class="cmsms_column one_fourth">

<div id="cmsms_heading_55ceec8c5b80f" class="cmsms_heading_wrap cmsms_heading_align_left">
	<h3 class="cmsms_heading">Some Words</h3>
</div><div class="cmsms_quotes_slider_wrap">

<div id="cmsms_quotes_slider_55ceec8c5b8d5" class="cmsms_quotes cmsms_quotes_slider owl-carousel">
<div id="cmsms_quote_55ceec8c5ba9e" class="cmsms_quote">

<!--_________________________ Start Slider Article _________________________ -->

<article class="cmsms_quote_inner">
	<div class="quote_content">
<p>Corrupti quos dolores et quas molestias excepturi sint occaecati Ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi corrupti quos dolores et molestias excepturi sint occaecati Ducimus qui blanditiis praesentium voluptatum deleniti</p>
</div>
<figure class="quote_image">
<img width="50" height="50" src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/011.jpg" class="attachment-thumbnail" alt="01" /></figure>
	<div class="wrap_quote_title">
		<h6 class="quote_title">Emile Pacheco</h6>
<span class="quote_subtitle">Pacheto Company</span>
	</div>
</article>
<!--_________________________ Finish Slider Article _________________________ -->

</div>
<div id="cmsms_quote_55ceec8c5c2fe" class="cmsms_quote">

<!--_________________________ Start Slider Article _________________________ -->

<article class="cmsms_quote_inner">
	<div class="quote_content">
<p>Corrupti quos dolores et quas molestias excepturi sint occaecati Ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi corrupti quos dolores et molestias excepturi sint occaecati Ducimus qui blanditiis praesentium voluptatum deleniti</p>
</div>
<figure class="quote_image">
<img width="50" height="50" src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/011.jpg" class="attachment-thumbnail" alt="01" /></figure>
	<div class="wrap_quote_title">
		<h6 class="quote_title">Emile Pacheco</h6>
<span class="quote_subtitle">Pacheto Company</span>
	</div>
</article>
<!--_________________________ Finish Slider Article _________________________ -->

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="cmsms_row_55ceec8c5ca3d" class="cmsms_row cmsms_color_scheme_default">
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner cmsms_row_fullwidth">
<div class="cmsms_row_margin">
<div class="cmsms_column one_first">

<div id="cmsms_divider_55ceec8c5cc49" class="cmsms_divider cmsms_divider_width_long cmsms_divider_pos_center"></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="cmsms_row_55ceec8c64b51" class="cmsms_row cmsms_color_scheme_default">
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner cmsms_row_fullwidth">
<div class="cmsms_row_margin">
<div class="cmsms_column one_first">

<div id="cmsms_divider_55ceec8c64d5e" class="cmsms_divider cmsms_divider_width_long cmsms_divider_pos_center"></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="cmsms_row_55ceec8c64e7a" class="cmsms_row cmsms_color_scheme_default">
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner">
<div class="cmsms_row_margin">
<div class="cmsms_column three_fourth">

<div class="cmsms_clients_grid_wrap">
<div id="cmsms_clients_55ceec8c65090" class="cmsms_clients_grid clients_four">
<div class="cmsms_clients_items slides">
<div class="cmsms_clients_item item">
<img src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/mechanic-3.png" alt="Name" title="Name" />
</div>
<div class="cmsms_clients_item item">
<img src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/oil-11.png" alt="Name" title="Name" />
</div>
<div class="cmsms_clients_item item">
<img src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/amg.png" alt="Name" title="Name" />
</div>
<div class="cmsms_clients_item item">
<img src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/car-repair.png" alt="Name" title="Name" />
</div>
</div>
</div>
</div>
</div>
<div class="cmsms_column one_fourth">

<div id="cmsms_heading_55ceec8c6651f" class="cmsms_heading_wrap cmsms_heading_align_left">
	<h3 class="cmsms_heading">Our Partners</h3>
</div><div class="cmsms_text">
<p>Corrupti quos dolores et quas molestias excepturi sint occaecati Ducimus qui blanditiis praesentium</p>
</div>

<div id="cmsms_heading_55ceec8c66770" class="cmsms_heading_wrap cmsms_heading_align_left">
	<h6 class="cmsms_heading">VIEW ALL</h6>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="cmsms_row_55ceec8c668a0" class="cmsms_row cmsms_color_scheme_default">
<div class="cmsms_row_outer_parent">
<div class="cmsms_row_outer">
<div class="cmsms_row_inner cmsms_row_fullwidth">
<div class="cmsms_row_margin">
<div class="cmsms_column one_first">

<div id="cmsms_divider_55ceec8c66ac9" class="cmsms_divider cmsms_divider_width_long cmsms_divider_pos_center"></div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="cl"></div><section class="content_wrap fullwidth">

<div class="middle_content entry" role="main">
	</div>
<!-- _________________________ Finish Content _________________________ -->

</section>
</div>
</section>
<!-- _________________________ Finish Middle _________________________ -->


<!-- _________________________ Start Bottom _________________________ -->
<section id="bottom" class="cmsms_color_scheme_default">
<div class="bottom_bg">
<div class="bottom_outer">
<div class="bottom_inner sidebar_layout_14141414">
<aside id="text-2" class="widget widget_text"><h3 class="widgettitle">Socials</h3>			<div class="textwidget"><ul style="padding: 0; overflow: hidden;">
	<li>
<h3 style="margin:0; vertical-align: middle; display: inline-block;"><a href="#">
<div id="cmsms_icon_55ceec8c68a64" class="cmsms_icon_wrap"><span class="cmsms_simple_icon cmsms-icon-facebook-squared"></span></div>
</a></h3>
<p style="display: inline-block; padding: 0;"><a href="#" style="text-transform: uppercase; font-weight: bold; margin-left: 15px; vertical-align: middle;">Facebook</a></p>
</li>
	<li>
<h3 style="margin:0; vertical-align: middle; display: inline-block;"><a href="#">
<div id="cmsms_icon_55ceec8c68b2b" class="cmsms_icon_wrap"><span class="cmsms_simple_icon cmsms-icon-gplus-squared"></span></div>
</a></h3>
<p style="display: inline-block; padding: 0;"><a href="#" style="text-transform: uppercase; font-weight: bold; margin-left: 15px; vertical-align: middle;">Google+</a></p>
</li>
	<li>
<h3 style="margin:0; vertical-align: middle; display: inline-block;"><a href="#">

<div id="cmsms_icon_55ceec8c68beb" class="cmsms_icon_wrap"><span class="cmsms_simple_icon cmsms-icon-twitter-squared"></span></div>
</a></h3>
<p style="display: inline-block; padding: 0;"><a href="#" style="text-transform: uppercase; font-weight: bold; margin-left: 15px; vertical-align: middle;">Twitter</a></p>
</li>
	<li>
<h3 style="margin:0; vertical-align: middle; display: inline-block;"><a href="#">

<div id="cmsms_icon_55ceec8c68cb0" class="cmsms_icon_wrap"><span class="cmsms_simple_icon cmsms-icon-youtube-squared"></span></div>
</a></h3>
<p style="display: inline-block; padding: 0;"><a href="#" style="text-transform: uppercase; font-weight: bold; margin-left: 15px; vertical-align: middle;">YouTube</a></p>
</li>
	<li>
<h3 style="margin:0; vertical-align: middle; display: inline-block;"><a href="#">


<div id="cmsms_icon_55ceec8c68d73" class="cmsms_icon_wrap"><span class="cmsms_simple_icon cmsms-icon-linkedin-squared"></span></div>
</a></h3>
<p style="display: inline-block; padding: 0;"><a href="#" style="text-transform: uppercase; font-weight: bold; margin-left: 15px; vertical-align: middle;">Linkedin</a></p>
</li> 
</ul></div>
		</aside><aside id="text-3" class="widget widget_text"><h3 class="widgettitle">Vehicle</h3>			<div class="textwidget"><ul style="padding: 0; overflof: hidden;">
	<li><a style="text-transform: uppercase; font-weight: 600;" href="#">Batmobile</a></li>
	<li><a style="text-transform: uppercase; font-weight: 600;" href="#">Hooper-Clarckson</a></li>
	<li><a style="text-transform: uppercase; font-weight: 600;" href="#">GNB</a></li>
	<li><a style="text-transform: uppercase; font-weight: 600;" href="#">Retromobile</a></li>
	<li><a style="text-transform: uppercase; font-weight: 600;" href="#">Ixus</a></li>
	<li><a style="text-transform: uppercase; font-weight: 600;" href="#">Olovo</a></li>
        <li><a style="text-transform: uppercase; font-weight: 600;" href="#">Thisissushi</a></li>
</ul></div>
		</aside><aside id="text-4" class="widget widget_text"><h3 class="widgettitle">Services</h3>			<div class="textwidget"><ul style="padding: 0; overflof: hidden;">
	<li><a style="text-transform: uppercase; font-weight: 600;" href="#">Brake Repair</a></li>
	<li><a style="text-transform: uppercase; font-weight: 600;" href="#">Engine Repair</a></li>
	<li><a style="text-transform: uppercase; font-weight: 600;" href="#">Computer Diagnostics</a></li>
	<li><a style="text-transform: uppercase; font-weight: 600;" href="#">Mufflers</a></li>
	<li><a style="text-transform: uppercase; font-weight: 600;" href="#">Maintenance Inspections</a></li>
	<li><a style="text-transform: uppercase; font-weight: 600;" href="#">Oil Changes</a></li>
        <li><a style="text-transform: uppercase; font-weight: 600;" href="#">Engine Replacement</a></li>
</ul></div>
		</aside><aside id="text-5" class="widget widget_text"><h3 class="widgettitle">Open Hours</h3>			<div class="textwidget"><ul style="padding: 0; overflow: hidden; font-weight: 600;">
 <li><span style="text-transform: uppercase;">Monday</span><span style="float: right; color: #9c9c9c;">8:00 - 16:00</span></li>
 <li><span style="text-transform: uppercase;">Tuesday</span><span style="float: right; color: #9c9c9c;">8:00 - 16:00</span></li>
 <li><span style="text-transform: uppercase;">Wednesday</span><span style="float: right; color: #9c9c9c;">8:00 - 16:00</span></li>
 <li><span style="text-transform: uppercase;">Thursday</span><span style="float: right; color: #9c9c9c;">8:00 - 16:00</span></li>
 <li><span style="text-transform: uppercase;">Friday</span><span style="float: right; color: #9c9c9c;">8:00 - 16:00</span></li>
 <li><span style="text-transform: uppercase;">Saturday</span><span style="float: right; color: #9c9c9c;">8:00 - 12:00</span></li>
 <li><span style="text-transform: uppercase;">Sunday</span><span style="float: right; color: #9c9c9c; text-transform: uppercase;">closed</span></li>
</ul></div>
		</aside></div>
</div>
</div>
</section>
<!-- _________________________ Finish Bottom _________________________ -->

<a href="javascript:void(0);" id="slide_top" class="cmsms_theme_icon_slide_top"></a>


