<!-- _________________________ Start Footer _________________________ -->
<footer id="footer" role="contentinfo" class="cmsms_color_scheme_footer cmsms_footer_default">
  <div class="footer_bg">
	<div class="footer_inner">
	  <a href="http://fermos.herokuapp.com/" title="Fermos" class="logo">
	   <img src="http://s7.postimg.org/83yeoztpn/fermos_logo.jpg" alt="Fermos" />
       <img class="footer_logo_retina" src="http://s7.postimg.org/83yeoztpn/fermos_logo.jpg" alt="Fermos" width="165" height="51" />
      </a>
	<div class="cl"></div>
	<nav>
	  <div class="menu-home-garage-container">
	  	<ul id="footer_nav" class="footer_nav">
	  		<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-10 current_page_item menu-item-1557">
	  			<a href="http://fermos.herokuapp.com">HOME</a>
	  		</li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1476"><a>Services</a>
				<ul class="sub-menu">
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1547"><a href="http://garage.cmsmasters.net/about-us/">About Us</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1562"><a href="http://garage.cmsmasters.net/services-2/">Services</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1549"><a href="http://garage.cmsmasters.net/our-prices/">Our Prices</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1550"><a href="http://garage.cmsmasters.net/typography/">Typography</a></li>
				</ul>
            </li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1918"><a href="http://garage.cmsmasters.net/shop/">About</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1477"><a>Gallery</a></li>

<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1447"><a>Reviews</a>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1546">
	<a href="http://garage.cmsmasters.net/contacts-2/">CONTACTS</a></li>
</ul></div></nav><span class="copyright">Fermos © 2015 | All Rights Reserved</span>
			</div>
		</div>
	</footer>
<!-- _________________________ Finish Footer _________________________ -->