
<!-- _________________________ Start Header _________________________ -->
<header id="header">
	<div class="header_top" data-height="35" style="overflow: inherit; height: 35px;">
		<div class="header_top_outer" style="display: none;">
			<div class="header_top_inner">
				<div class="header_top_left">å
					<div class="header_top_aligner"></div>
					<div class="meta_wrap">
						<div class="meta_wrap_left">
							<span class="adress cmsms-icon-location-3">Brooklyn, NY 10036, United States</span>
							<span class="phone cmsms-icon-phone-4">1-800-123-1234</span> 
							<a href="#" class="mail cmsms-icon-mail-3">example@garage.com</a>
						</div>

						<div class="meta_wrap_right">
							<span>Hours:</span>
							<span>Mon-Fri:</span>  8:30am-5:30pm <span>Sat:</span>  9:00am-12:00pm <span>Sun:</span>Closed
						</div>
					</div>
				</div>			
				<div class="cl"></div>
			</div>
		</div>
		<div class="header_top_but closed">
			<span class="cmsms_bot_arrow"><span></span></span>
		</div>
	</div>
	<div class="header_mid" data-height="140" style="height: 140px;">
		<div class="header_mid_outer" style="height: 140px;">
			<div class="header_mid_inner">
				<div class="logo_wrap">
					<style type="text/css">
					.header_mid .header_mid_inner .logo_wrap {
					width : 165px;
					}
					</style>
					<a href="http://garage.cmsmasters.net/" title="Garage" class="logo" style="height: 140px;">
					<img src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/logo.png" alt="Garage">

					<style type="text/css">
					.header_mid_inner .logo .logo_retina {
					width : 165px;
					}
					</style>
					<img class="logo_retina" src="http://garage.cmsmasters.net/wp-content/uploads/2014/12/logo-retina.png" alt="Garage" width="165" height="51">
					</a>
				</div>
				<%= render 'layouts/navigation' %>	
				<div class="resp_nav_wrap">
					<div class="resp_nav_wrap_inner" style="height: 140px;">
						<div class="resp_nav_content">
							<a class="responsive_nav cmsms_theme_icon_resp_nav" href="javascript:void(0);"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- _________________________ Finish Header _________________________ -->