<!-- _________________________ Start Navigation _________________________ -->
<nav role="navigation">
	<div class="menu-home-garage-container">
		<ul id="navigation" class="navigation">
			<li id="menu-item-1557" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-10 current_page_item menu-item-1557 menu-item-depth-0">
				<a href="http://fermos.herokuapp.com"><span class="nav_bg_clr"></span><span>HOME</span></a>
			</li>
			<li id="menu-item-1476" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1476 menu-item-depth-0">
			  <a href="http://fermos.herokuapp.com/fermos/services"><span class="nav_bg_clr"></span><span>Services</span></a>
	          <ul class="sub-menu">
		        <li id="menu-item-1547" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1547 menu-item-depth-1">
		         	<a href="#"><span>About Us</span></a>	
		         </li>
		        <li id="menu-item-1562" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1562 menu-item-depth-1">
		        	<a href="#"><span>Services</span></a>	
		        </li>
		        <li id="menu-item-1549" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1549 menu-item-depth-1">
		        	<a href="#"><span>Our Prices</span></a>	
		        </li>
		        <li id="menu-item-1550" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1550 menu-item-depth-1">
		        	<a href="#"><span>Typography</span></a>	
		        </li>
	          </ul>
	        </li>

		<!-- 	<li id="menu-item-1918" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1918 menu-item-depth-0">
				<a href="#"><span class="nav_bg_clr"></span><span>Gallery</span></a>
			</li> -->

			<li><%= link_to 'Gallery', fermos_gallery_path, id: 'menu-item-1918', class: 'menu-item menu-item-type-post_type menu-item-object-page menu-item-1918 menu-item-depth-0' %></li>

			<li id="menu-item-1477" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1477 menu-item-mega menu-item-mega-cols-four menu-item-depth-0">
				<a href="http://fermos.herokuapp.com/fermos/about"><span class="nav_bg_clr"></span><span>About</span></a>
			</li>

			<li id="menu-item-1447" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1447 menu-item-mega menu-item-mega-cols-five menu-item-depth-0">
				<a href="http://fermos.herokuapp.com/fermos/reviews"><span class="nav_bg_clr"></span><span>Reviews</span></a>
			</li>

			<li id="menu-item-1546" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1546 menu-item-depth-0">
				<a href="http://fermos.herokuapp.com/fermos/contact"><span class="nav_bg_clr"></span><span>CONTACTS</span></a>
			</li>
	    </ul>
	</div>
	<div class="cmsms_dynamic_cart">
		<a href="javascript:void(0);" class="cmsms_dynamic_cart_button cmsms_theme_icon_basket"></a>
		<div class="widget_shopping_cart_content"></div>
	</div>					
	<div class="cl"></div>
</nav>
<!-- _________________________ Finish Navigation _________________________ -->