				<!-- _________________________ Start Navigation _________________________ -->
<nav role="navigation">
<div class="menu-home-garage-container">
	<ul id="navigation" class="navigation">
		<li id="menu-item-1557" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-10 current_page_item menu-item-1557 menu-item-depth-0">
			<a href="http://garage.cmsmasters.net/"><span class="nav_bg_clr"></span><span>HOME</span></a>
		</li>
		<li id="menu-item-1476" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1476 menu-item-depth-0">
			<a><span class="nav_bg_clr"></span><span>Services</span></a>
          <ul class="sub-menu">
	         <li id="menu-item-1547" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1547 menu-item-depth-1"><a href="http://garage.cmsmasters.net/about-us/"><span>About Us</span></a>	
	         </li>
	        <li id="menu-item-1562" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1562 menu-item-depth-1"><a href="http://garage.cmsmasters.net/services-2/"><span>Services</span></a>	
	        </li>
	      <li id="menu-item-1549" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1549 menu-item-depth-1"><a href="http://garage.cmsmasters.net/our-prices/"><span>Our Prices</span></a>	
	      </li>
	     <li id="menu-item-1550" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1550 menu-item-depth-1"><a href="http://garage.cmsmasters.net/typography/"><span>Typography</span></a>	
	     </li>
     </ul>
</li>
<li id="menu-item-1918" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1918 menu-item-depth-0"><a href="http://garage.cmsmasters.net/shop/"><span class="nav_bg_clr"></span><span>Gallery</span></a></li>
<li id="menu-item-1477" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1477 menu-item-mega menu-item-mega-cols-four menu-item-depth-0"><a><span class="nav_bg_clr"></span><span>About</span></a>
<div class="menu-item-mega-container">
<ul class="sub-menu">
	<li id="menu-item-1449" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1449 menu-item-depth-1"><a><span>01</span></a>
	<ul class="sub-menu">
		<li id="menu-item-1503" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1503 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/counters-progress-bars/"><span>Counters &#038; Progress Bars</span></a>		</li>
		<li id="menu-item-1504" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1504 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/dividers/"><span>Dividers</span></a>		</li>
		<li id="menu-item-1505" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1505 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/featured-blocks/"><span>Featured Blocks</span></a>		</li>
		<li id="menu-item-1506" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1506 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/icon-boxes/"><span>Icon Boxes</span></a>		</li>
		<li id="menu-item-1507" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1507 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/quotes/"><span>Quotes</span></a>		</li>
		<li id="menu-item-1508" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1508 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/gallery/"><span>Gallery</span></a>		</li>
		<li id="menu-item-1509" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1509 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/images/"><span>Images</span></a>		</li>
	</ul>
	</li>
	<li id="menu-item-1450" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1450 menu-item-depth-1"><a><span>02</span></a>
	<ul class="sub-menu">
		<li id="menu-item-1510" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1510 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/icon-list/"><span>Icon List</span></a>		</li>
		<li id="menu-item-1511" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1511 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/buttons-icons/"><span>Buttons &#038; Icons</span></a>		</li>
		<li id="menu-item-1512" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1512 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/clients/"><span>Clients</span></a>		</li>
		<li id="menu-item-1513" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1513 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/form-builder/"><span>Contact Forms</span></a>		</li>
		<li id="menu-item-1514" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1514 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/special-headings/"><span>Special Headings</span></a>		</li>
		<li id="menu-item-1515" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1515 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/portfolio-shortcode/"><span>Portfolio Shortcode</span></a>		</li>
		<li id="menu-item-1516" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1516 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/posts-or-projects-slider/"><span>Posts or Projects Slider</span></a>		</li>
	</ul>
	</li>
	<li id="menu-item-1451" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1451 menu-item-depth-1"><a><span>03</span></a>
	<ul class="sub-menu">
		<li id="menu-item-1517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1517 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/tweets/"><span>Tweets</span></a>		</li>
		<li id="menu-item-1518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1518 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/embedded/"><span>Embedded</span></a>		</li>
		<li id="menu-item-1519" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1519 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/pricing-tables/"><span>Pricing Tables</span></a>		</li>
		<li id="menu-item-1520" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1520 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/profiles/"><span>Profiles</span></a>		</li>
		<li id="menu-item-1521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1521 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/tabs-tours/"><span>Tabs &#038; Tours</span></a>		</li>
		<li id="menu-item-1522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1522 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/toggles-accordions/"><span>Toggles &#038; Accordions</span></a>		</li>
		<li id="menu-item-1523" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1523 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/tables/"><span>Tables</span></a>		</li>
	</ul>
	</li>
	<li id="menu-item-1452" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1452 menu-item-depth-1"><a><span>04</span></a>
	<ul class="sub-menu">
		<li id="menu-item-1524" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1524 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/google-maps/"><span>Google Maps</span></a>		</li>
		<li id="menu-item-1525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1525 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/notice-boxes/"><span>Notice Boxes</span></a>		</li>
		<li id="menu-item-1526" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1526 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/custom-html-css-js/"><span>Custom HTML, CSS, JS</span></a>		</li>
		<li id="menu-item-1527" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1527 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/sidebar/"><span>Sidebar</span></a>		</li>
		<li id="menu-item-1528" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1528 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/social-sharing/"><span>Social Sharing</span></a>		</li>
		<li id="menu-item-1529" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1529 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/sliders/"><span>Sliders</span></a>		</li>
		<li id="menu-item-1530" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1530 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/blog-shortcodes/"><span>Blog</span></a>		</li>
	</ul>
	</li>
</ul>
</div>
</li>
<li id="menu-item-1447" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1447 menu-item-mega menu-item-mega-cols-five menu-item-depth-0"><a><span class="nav_bg_clr"></span><span>Reviews</span></a>
<div class="menu-item-mega-container">
<ul class="sub-menu">
	<li id="menu-item-1448" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1448 menu-item-depth-1"><a><span>Projects Grid</span></a>
	<ul class="sub-menu">
		<li id="menu-item-1501" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1501 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/projects-grid/"><span>Large Gap</span></a>		</li>
		<li id="menu-item-1500" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1500 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/1pixel-gap/"><span>1Pixel Gap</span></a>		</li>
		<li id="menu-item-1502" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1502 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/150-2/"><span>No Gap</span></a>		</li>
	</ul>
	</li>
	<li id="menu-item-1461" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1461 menu-item-depth-1"><a><span>Masonry Puzzle</span></a>
	<ul class="sub-menu">
		<li id="menu-item-1534" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1534 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/large-gap/"><span>Large Gap</span></a>		</li>
		<li id="menu-item-1533" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1533 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/large-gap-puzzle/"><span>1 Pixel Gap</span></a>		</li>
		<li id="menu-item-1535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1535 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/no-gap-puzzle/"><span>No Gap</span></a>		</li>
	</ul>
	</li>
	<li id="menu-item-1462" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1462 menu-item-depth-1"><a><span>Blog</span></a>
	<ul class="sub-menu">
		<li id="menu-item-1537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1537 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/blog/"><span>Standard Blog</span></a>		</li>
		<li id="menu-item-1536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1536 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/masonry-blog/"><span>Masonry Blog</span></a>		</li>
		<li id="menu-item-1538" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1538 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/timeline-blog/"><span>Timeline Blog</span></a>		</li>
	</ul>
	</li>
	<li id="menu-item-1478" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1478 menu-item-depth-1"><a><span>Profiles</span></a>
	<ul class="sub-menu">
		<li id="menu-item-1551" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1551 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/horizontal/"><span>Horizontal</span></a>		</li>
		<li id="menu-item-1552" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1552 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/vertical/"><span>Vertical</span></a>		</li>
		<li id="menu-item-1483" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1483 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/?profile=simon-green"><span>Open Profile</span></a>		</li>
	</ul>
	</li>
	<li id="menu-item-1638" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1638 menu-item-depth-1"><a href="http://garage.cmsmasters.net?post_type=tribe_events"><span>Events</span></a>
	<ul class="sub-menu">
		<li id="menu-item-1914" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1914 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/?post_type=tribe_events&#038;eventDisplay=month"><span>Month</span></a>		</li>
		<li id="menu-item-1915" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1915 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/?post_type=tribe_events&#038;eventDisplay=photo"><span>Photo</span></a>		</li>
		<li id="menu-item-1916" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1916 menu-item-depth-subitem"><a href="http://garage.cmsmasters.net/?post_type=tribe_events&#038;eventDisplay=map"><span>Map</span></a>		</li>
	</ul>
	</li>
</ul>
</div>
</li>
<li id="menu-item-1546" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1546 menu-item-depth-0"><a href="http://garage.cmsmasters.net/contacts-2/"><span class="nav_bg_clr"></span><span>CONTACTS</span></a></li>
</ul></div>
<div class="cmsms_dynamic_cart"><a href="javascript:void(0);" class="cmsms_dynamic_cart_button cmsms_theme_icon_basket"></a><div class="widget_shopping_cart_content"></div></div>					<div class="cl"></div>
				</nav>
				<!-- _________________________ Finish Navigation _________________________ -->